.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
  outline: none;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  z-index: 3;
}

.slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  display: table;
  content: '';
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
  outline: none;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
  outline: none;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
  outline: none;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Dots */
.slick-dots {
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10%;
  margin: 0;
  padding: 0;
  outline: none;
  padding-left: 10px;
}

.slick-dots li {
  display: inline-block;
  position: relative;
}

.slick-dots li button {
  cursor: pointer;
  font-size: 0px;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  color: red;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:after {
  cursor: pointer;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #333333;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.slick-dots li.slick-active {
  outline: none;
}

.slick-dots li.slick-active button::after {
  cursor: pointer;
  background: #333333;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-prev, .slick-next {
  z-index: 5;
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 0.9;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0;
}

.slick-prev:before, .slick-next:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 30px;
  line-height: 1;
  color: #fff;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 5px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: 15px;
}

.slick-prev:before {
  content: "\f104";
}

[dir="rtl"] .slick-prev:before {
  content: "\e902";
}

.slick-next {
  right: 15px;
}

[dir="rtl"] .slick-next {
  left: 5px;
  right: auto;
}

.slick-next:before {
  content: "\f105";
}

[dir="rtl"] .slick-next:before {
  content: "\e915";
}

body {
  color: #000;
  font-size: 15px;
  line-height: 1.5;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.5;
}

.arrange-price ul, .list-shop-address ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  color: #A7171D;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

.title:after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background-color: #A7171D;
  margin: 20px auto 0;
}

.title a {
  color: #A7171D;
}

.title.lg {
  font-size: 32px;
}

.title-2 {
  color: #A7171D;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.title-2 a {
  color: #A7171D;
}

.title-3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #A7171D;
}

a {
  color: #000;
}

a:hover, a:focus {
  color: #A7171D;
  text-decoration: none;
}

.bg-light {
  background-color: #f7f7f7 !important;
}

.btn {
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all ease 0.5s;
}

.btn-red {
  background-color: #A7171D;
  border-color: #A7171D;
  color: #fff !important;
}

.btn-red:hover, .btn-red:focus {
  background-color: #7a1115;
  border-color: #7a1115;
  color: #fff;
}

.btn-red.btn-sm {
  font-size: 13px;
  font-weight: 700;
}

.min-132 {
  min-width: 132px;
}

.btn-lg {
  padding-top: 13px;
  padding-bottom: 13px;
}

.btn-outline-red {
  background-color: #fff;
  border-color: #A7171D;
  color: #A7171D;
}

.btn-outline-red:hover, .btn-outline-red:focus {
  background-color: #A7171D;
  border-color: #A7171D;
  color: #fff;
}

.btn-white {
  border-color: #fff;
  background-color: #fff;
  color: #A7171D;
}

.btn-white:hover, .btn-white:focus {
  border-color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
}

@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-left: 10px;
  padding-right: 10px;
}

.arrows-red .slick-arrow {
  z-index: 10;
}

.arrows-red .slick-arrow:before {
  display: none;
}

.arrows-red .slick-prev {
  left: 0;
}

.arrows-red .slick-next {
  right: 0;
}

.arrows-red-v2 {
  position: relative;
}

.arrows-red-v2 .slick-arrow {
  z-index: 10;
}

.arrows-red-v2 .slick-arrow:before {
  display: none;
}

.arrows-red-v2 .slick-prev {
  left: 0;
}

.arrows-red-v2 .slick-next {
  right: 0;
}

.space-global {
  margin-bottom: 50px;
}

.effect-1, .effect-2 {
  display: block;
  position: relative;
  overflow: hidden;
}

.effect-1 img, .effect-2 img {
  transition: all 0.5s ease-in-out;
}

.effect-1:hover img, .effect-2:hover img {
  transform: scale(1.2);
}

.effect-1 a, .effect-2 a {
  display: block;
  position: relative;
  overflow: hidden;
}

.effect-1 a img, .effect-2 a img {
  transition: all 0.5s ease-in-out;
}

.effect-1 a:hover img, .effect-2 a:hover img {
  transform: scale(1.2);
}

.page-inner {
  margin-top: 32px;
}

/* custom checkbox */
.form-checkbox {
  margin-bottom: 4px;
}

.form-checkbox label {
  position: relative;
  font-weight: normal;
  margin-bottom: 0;
}

.form-checkbox input[type="checkbox"] {
  position: absolute;
  right: 9000px;
}

.form-checkbox .label-text {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  min-height: 24px;
}

input[type="checkbox"] + .label-text:before {
  display: inline-block;
  content: '';
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked + .label-text:before {
  content: "\f00c";
  animation: effect 250ms ease-in;
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

input[type="checkbox"]:disabled + .label-text {
  color: #aaa;
}

/* modal login */
.modal.modal-close-inside {
  color: #949494;
  font-weight: normal;
  line-height: 1.4;
}

.modal.modal-close-inside .close {
  cursor: pointer;
  outline: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

.modal.modal-close-inside .modal-content {
  background: #f7f7f7;
  border: 0.0625rem solid rgba(34, 34, 34, 0.2);
}

@media only screen and (min-width: 576px) {
  .modal.modal-close-inside .modal-content {
    box-shadow: none;
  }
}

.modal.modal-close-inside .modal-body {
  padding: 1.875rem;
}

.modal.modal-close-inside .form-control {
  background-color: #fff;
  border-color: #f7f7f7;
  border-radius: 0;
}

.modal.modal-close-inside .jx-header-account-wrapper .register-link {
  margin-top: .9375rem;
}

.modal.modal-close-inside .social-login-buttons {
  margin: 0 -.3125rem;
}

.modal.modal-close-inside .social-login-buttons a {
  display: inline-block;
  margin: 0 .3125rem .625rem;
  font-weight: normal;
}

.modal.modal-close-inside .social-login-buttons a i {
  margin-right: .3125rem;
  font-weight: bold;
}

.modal-width-sm {
  max-width: 31.25rem;
}

.account-wrapper {
  max-width: 23.125rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-help-block ul {
  list-style: none;
  padding-left: 0;
  font-weight: normal;
}

.main-help-block ul li:not(:last-child) {
  margin-bottom: 8px;
}

.required {
  position: relative;
  padding-right: .9375rem;
}

.required::after {
  position: absolute;
  top: 0;
  right: 0;
  content: ' *';
  color: #d05656;
  font-size: 130%;
  line-height: .9;
}

.btn-link {
  font-weight: 400;
  color: #949494;
  background-color: transparent;
}

.login-content .form-control-label {
  font-weight: normal;
  line-height: 22px;
}

.login-content .btn-red {
  min-width: 150px;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .625rem 1.125rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  text-align: center;
  white-space: nowrap;
  background-color: #ebebeb;
  border: .125rem solid #ebebeb;
  border-radius: 0;
}

.logined-content h2 {
  color: #000;
  margin-bottom: 20px;
}

.logined-content .btn-logout {
  min-width: 150px;
}

.clickable {
  cursor: pointer;
}

.back-top {
  position: fixed;
  right: -8px;
  bottom: 30%;
  z-index: 9;
  display: none;
}

.ico-prev, .arrows-red .slick-prev, .arrows-red .slick-prev:hover {
  background-image: url("../img/sprites-s1cfc4e25b9.png");
  background-position: 0 -904px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 37px;
  width: 27px;
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
  .ico-prev, .arrows-red .slick-prev, .arrows-red .slick-prev:hover {
    background-size: 64px 770px;
    background-position: 0 -473px;
    height: 37px;
    width: 27px;
  }
}

.ico-next, .arrows-red .slick-next, .arrows-red .slick-next:hover {
  background-image: url("../img/sprites-s1cfc4e25b9.png");
  background-position: 0 -602px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 37px;
  width: 27px;
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
  .ico-next, .arrows-red .slick-next, .arrows-red .slick-next:hover {
    background-size: 64px 770px;
    background-position: 0 -322px;
    height: 37px;
    width: 27px;
  }
}

.ico-shopping-bag, .header-cart::before {
  background-image: url("../img/sprites-s1cfc4e25b9.png");
  background-position: 0 -1463px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 24px;
  width: 21px;
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
  .ico-shopping-bag, .header-cart::before {
    background-size: 64px 770px;
    background-position: 0 -746px;
    height: 24px;
    width: 21px;
  }
}

.ico-angle-left, .arrows-red-v2 .slick-prev, .arrows-red-v2 .slick-prev:hover {
  background-image: url("../img/sprites-s1cfc4e25b9.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 34px;
  width: 20px;
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
  .ico-angle-left, .arrows-red-v2 .slick-prev, .arrows-red-v2 .slick-prev:hover {
    background-size: 64px 770px;
    background-position: 0 -20px;
    height: 34px;
    width: 20px;
  }
}

.ico-angle-right, .arrows-red-v2 .slick-next, .arrows-red-v2 .slick-next:hover {
  background-image: url("../img/sprites-s1cfc4e25b9.png");
  background-position: 0 -112px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 33px;
  width: 20px;
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
  .ico-angle-right, .arrows-red-v2 .slick-next, .arrows-red-v2 .slick-next:hover {
    background-size: 64px 770px;
    background-position: 0 -75px;
    height: 33px;
    width: 20px;
  }
}

.ico-shopping-bag-mobile {
  background-image: url("../img/sprites-s1cfc4e25b9.png");
  background-position: 0 -1381px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 24px;
  width: 21px;
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
  .ico-shopping-bag-mobile {
    background-size: 64px 770px;
    background-position: 0 -705px;
    height: 24px;
    width: 21px;
  }
}

.ico-qa, .sm-faq .direction:before {
  background-image: url("../img/sprites-s1cfc4e25b9.png");
  background-position: 0 -1086px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 56px;
  width: 60px;
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
  .ico-qa, .sm-faq .direction:before {
    background-size: 64px 770px;
    background-position: 0 -632px;
    height: 56px;
    width: 60px;
  }
}

.ico-phone, .sm-hotline .direction:before {
  background-image: url("../img/sprites-s1cfc4e25b9.png");
  background-position: 0 -723px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 57px;
  width: 57px;
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
  .ico-phone, .sm-hotline .direction:before {
    background-size: 64px 770px;
    background-position: 0 -393px;
    height: 57px;
    width: 57px;
  }
}

.ico-chat, .sm-chat .direction:before {
  background-image: url("../img/sprites-s1cfc4e25b9.png");
  background-position: 0 -406px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 62px;
  width: 64px;
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
  .ico-chat, .sm-chat .direction:before {
    background-size: 64px 770px;
    background-position: 0 -237px;
    height: 62px;
    width: 64px;
  }
}

.ico-back-top {
  background-image: url("../img/sprites-s1cfc4e25b9.png");
  background-position: 0 -267px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 43px;
  width: 47px;
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
  .ico-back-top {
    background-size: 64px 770px;
    background-position: 0 -158px;
    height: 43px;
    width: 47px;
  }
}

.ico-back-redirect {
  background-image: url("../img/sprites-s1cfc4e25b9.png");
  background-position: 0 -221px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 12px;
  width: 8px;
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
  .ico-back-redirect {
    background-size: 64px 770px;
    background-position: 0 -119px;
    height: 12px;
    width: 8px;
  }
}

/**! Header */
header.header-sticky {
  position: relative;
  width: 100%;
  z-index: 1000;
}

.header-top {
  background-color: #0058a0;
  margin-bottom: 1px;
}

.header-top a {
  color: inherit;
}

.header-top a:hover, .header-top a:focus {
  color: #5c82ae;
}

.top {
  color: #fff;
  position: relative;
}

.nav-left {
  font-weight: 700;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

.nav-left li > * {
  vertical-align: middle;
  display: inline-block;
}

.nav-left li + li {
  margin-left: 20px;
}

.nav-left h2 {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 0 6px;
}

.nav-left .fa-phone {
  transform: rotate(-90deg);
}

.nav-left .fa {
  font-size: 30px;
}

.find-location {
  display: inline-block;
}

.find-location > * {
  display: inline-block;
  vertical-align: middle;
}

.find-location .fa-map-marker {
  margin-right: 14px;
}

.nav-right {
  font-weight: bold;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  line-height: 40px;
}

.header-account {
  position: relative;
  padding-left: 30px;
  margin-right: 25px;
}

.header-account::before {
  position: absolute;
  display: inline-block;
  font-weight: normal;
  font-size: 22px;
  font-family: 'FontAwesome';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: "\f2c0";
}

.header-account .divider {
  padding: 0 5px;
  display: inline-block;
}

.header-cart {
  position: relative;
  padding-left: 20px;
}

@media only screen and (min-width: 992px) {
  .header-cart {
    padding-left: 30px;
    margin-right: 12px;
  }
}

.header-cart::before {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: " ";
}

.icon-wrapper {
  width: 48px;
  height: 40px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: center;
  text-align: center;
  display: block;
  margin-left: -1px;
}

.icon-wrapper .fa {
  font-size: 22px;
}

.navbar-toogle {
  margin: 0;
  width: 40px;
  height: 40px;
  border: none;
  position: relative;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}

.navbar-toogle:focus {
  outline: none;
}

@media only screen and (min-width: 992px) {
  .navbar-toogle {
    display: none;
  }
}

.navbar-toogle .icon-bar {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: #0058a0;
}

.navbar-toogle .icon-bar:nth-child(2) {
  transform: rotate(0);
  position: static;
}

.navbar-toogle .icon-bar:nth-child(3) {
  display: block;
}

.navbar-toogle .icon-bar:nth-child(4) {
  transform: rotate(0);
  position: static;
}

.navbar-toogle .icon-bar + .icon-bar {
  margin-top: 5px;
}

.navbar-toogle.active .icon-bar:nth-child(2) {
  transform: rotate(225deg);
  position: absolute;
  top: 17px;
  transition: all 0.5s ease 0s;
}

.navbar-toogle.active .icon-bar:nth-child(3) {
  display: none;
}

.navbar-toogle.active .icon-bar:nth-child(4) {
  transform: rotate(315deg);
  position: absolute;
  top: 12px;
  transition: all 0.5s ease 0s;
}

@media only screen and (min-width: 992px) {
  .header-brand {
    display: none;
  }
}

.header-brand .logo {
  display: block;
}

.header-brand .logo img {
  max-width: 220px;
}

@media screen and (max-width: 480px) {
  .header-brand .logo img {
    max-width: 140px;
  }
}

#mainnav {
  display: block;
  transition: all 0.3s ease-out;
}

#mainnav ul {
  position: relative;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainnav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

#mainnav ul li {
  position: relative;
}

#mainnav > ul > li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
}

#mainnav > ul > li > a {
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 9px 0;
  line-height: 22px;
  outline: none;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 991px) and (max-width: 1199px) {
  #mainnav > ul > li > a {
    font-size: 12px;
  }
}

#mainnav > ul > li .text-home {
  display: none;
}

#mainnav > ul > li .fa-home {
  font-size: 34px;
}

#mainnav > ul > li.has-sub > a {
  padding-right: 15px;
}

#mainnav > ul > li.has-sub > a::after {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "\f107";
  color: #fff;
  font-size: 16px;
  font-family: 'FontAwesome';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mainnav > ul > li > a:focus,
#mainnav > ul > li > a:hover,
#mainnav > ul > li.active a {
  color: #dcdcdc;
}

#mainnav ul.sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 220px;
  background-color: #ffffff;
  border-top: 3px solid #A7171D;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
}

#mainnav ul li:hover > ul.sub-menu {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
}

#mainnav ul li ul li {
  margin-left: 0;
  display: block;
  width: 100%;
}

#mainnav ul.sub-menu li ul {
  position: absolute;
  left: 225px;
  top: 0;
}

#mainnav ul.sub-menu > li > a {
  text-transform: inherit;
  height: auto;
  color: #333;
  display: block;
  padding: 10px 0;
  margin: 0 15px;
  transition: all 0.2s ease-out;
  border-top: 1px solid #ededed;
  position: relative;
}

#mainnav ul.sub-menu > li:hover > a {
  padding-left: 15px;
  color: #0058a0;
}

#mainnav ul.sub-menu > li:hover > a:after {
  position: absolute;
  top: 10px;
  left: 0;
  margin-right: 10px;
  content: '\f105';
  font-family: 'FontAwesome';
}

.btn-submenu {
  position: absolute;
  right: 0;
  top: 0;
  font: 20px/50px 'FontAwesome';
  text-align: center;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.btn-submenu:before {
  content: "\f107";
  color: #333;
}

.btn-submenu.active:before {
  content: "\f107";
}

/* Mobile navigation
---------------------------------------- */
#mainnav-mobi {
  display: block;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  background-color: #fff;
  z-index: 1000;
  left: 0;
}

#mainnav-mobi ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.3);
}

#mainnav-mobi ul li {
  margin: 0;
  position: relative;
  text-align: left;
  border-top: 1px solid #e6e6e6;
  cursor: pointer;
}

#mainnav-mobi ul > li > a {
  text-decoration: none;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  color: #333;
}

#mainnav-mobi ul > li.active > a {
  color: #333333;
}

#mainnav-mobi ul.sub-menu {
  top: 100%;
  left: 0;
  z-index: 2000;
  position: relative;
  background-color: #fff;
}

.btn-submenu:before #mainnav-mobi > ul > li > ul > li,
#mainnav-mobi > ul > li > ul > li > ul > li {
  position: relative;
  border-top: 1px solid #e6e6e6;
}

#mainnav-mobi ul.sub-menu > li > a {
  display: block;
  text-decoration: none;
  padding: 0 30px;
  border-top-color: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-out;
}

#mainnav-mobi ul.sub-menu > li > ul > li > a {
  padding: 0 40px;
}

#mainnav-mobi ul.sub-menu > li > ul > li ul li > a {
  padding: 0 60px;
}

#mainnav-mobi > ul > li > ul > li:first-child a {
  border-top: none;
}

#mainnav-mobi ul.sub-menu > li > a:hover,
#mainnav-mobi > ul > li > ul > li.active > a {
  color: #fff;
}

#mainnav-mobi ul .fa-home,
#mainnav-mobi ul > li > a br {
  display: none;
}

.header-middle {
  padding: 36px 0 24px 0;
  display: none;
  transition: all 0.2s ease-out;
}

@media only screen and (min-width: 992px) {
  .header-middle {
    display: block;
  }
}

.brand {
  list-style: none;
  padding: 0;
  margin: 0;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -ms-flex-align: end;
  align-items: flex-end;
}

/* css box hidden header */
.container-search {
  border-top: 3px solid #A7171D;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  color: #777;
  position: absolute;
  top: 40px;
  display: none;
}

.empty {
  margin: 20px;
  text-align: center;
  font-weight: normal;
  line-height: 1.2;
}

@media only screen and (min-width: 992px) {
  .header-wrap {
    background-color: #0058a0;
  }
}

.header-search {
  position: relative;
}

.container-search {
  border-top: none;
  z-index: 1060;
  right: 0;
}

.form-search.show .container-search {
  display: block;
}

.container-search .form-control {
  border-color: transparent;
  border-radius: 0;
  min-width: 150px;
  font-size: 13px;
}

.container-search .form-control:focus {
  box-shadow: none;
  border-color: #0058a0;
}

@media only screen and (min-width: 576px) {
  .container-search .form-control {
    min-width: 250px;
  }
}

.container-search select {
  border-color: #d8d8d8;
  border-width: 0 0 0 1px;
  width: 120px;
}

@media only screen and (min-width: 576px) {
  .container-search select {
    min-width: 130px;
  }
}

.container-search .btn-search {
  padding: 0 10px;
  text-align: center;
  border-color: #d8d8d8;
  border-width: 0 0 0 1px;
  outline: 0;
  border-radius: 0;
  background: #fff;
}

@media only screen and (min-width: 992px) {
  .header-nav .header-mainnav {
    width: 100%;
    float: none;
    text-align: left;
  }
}

@media (max-width: 991.98px) {
  .header-nav {
    background-color: #fff;
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  }
  .header-nav > .container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header-nav .icon-wrapper {
    width: auto;
    height: auto;
    border: none;
    color: #0058a0;
  }
  .header-nav .header-cart-icon {
    position: relative;
    padding-right: 10px;
  }
  .header-nav .header-cart-icon span {
    position: absolute;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    background-color: #A7171D;
    top: -16px;
    right: 0;
    font-size: 12px;
  }
}

.wrapper {
  transition-timing-function: cubic-bezier(0.2, 0, 0.065, 0.25);
  transition-duration: 200ms;
  transition: margin .2s;
  transition-timing-function: cubic-bezier(0.2, 0, 0.065, 0.25);
  -webkit-backface-visibility: hidden;
}

.top-search {
  background: #eaeaea;
  padding: 30px 0;
  position: relative;
  transition-timing-function: cubic-bezier(0.2, 0, 0.065, 0.25);
  transition-duration: 200ms;
  margin-top: -104px;
}

.top-search.show {
  margin-top: 0;
}

.top-search .container {
  max-width: 1000px;
}

.top-search .closeSearch {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.5;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.top-search .closeSearch:hover {
  opacity: 1;
}

.top-search form {
  position: relative;
  padding-right: 150px;
}

@media only screen and (min-width: 992px) {
  .top-search form {
    padding-right: 240px;
  }
}

.top-search form .form-control {
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}

.top-search form .btn {
  border-radius: 23px;
  min-width: 120px;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px;
}

@media only screen and (min-width: 992px) {
  .top-search form .btn {
    min-width: 210px;
  }
}

.top-search form .btn i {
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .top-search form .btn i {
    margin-right: 16px;
  }
}

/**! .cart-box */
.blockcart-slidebar {
  box-shadow: 0 -0.3125rem 0.875rem rgba(0, 0, 0, 0.15);
  background: #f7f7f7;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  z-index: 9999;
  width: 320px;
  height: 100%;
  top: 0;
  right: 0;
  margin-right: -320px;
  transition: margin .2s;
  transition-timing-function: cubic-bezier(0.2, 0, 0.065, 0.25);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cart-box {
  color: #333;
  padding: 15px 20px;
}

.cart-box .cart-total {
  font-size: 18px;
}

.cart-box .cart-total > strong {
  color: #222;
}

.cart-box .cart-total .value {
  color: #A7171D;
}

.cart-box .price {
  font-size: 15px;
}

.open-menu {
  overflow-x: hidden;
}

.open-menu .wrapper {
  margin-left: -320px;
}

.open-menu .cart-box {
  margin-right: 0;
}

.closeSlidebar {
  position: relative;
  left: 0;
  top: 0;
  cursor: pointer;
  outline: 0 !important;
  z-index: 5;
  width: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  background: 0 0;
  border: 0;
  margin-bottom: 5px;
  display: none;
}

.closeSlidebar:not(:hover) {
  opacity: .5;
}

.blockcart-slidebar .closeSlidebar {
  display: block;
}

.cart-product-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.cart-product-thumbnail {
  background: 0 0;
  display: block;
  text-align: center;
  position: relative;
  width: 80px;
}

.remove-from-cart.close {
  font-weight: bold;
}

.cart-product-title {
  color: #222;
  font-weight: 400;
  text-transform: none;
  font-size: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  line-height: 20px;
}

.cart-item .cart-product-title {
  font-size: 16px;
  font-weight: bold;
}

.product-attributes,
.product-quantity {
  color: #949494;
}

/**! Footer */
footer {
  background-color: #034694;
  margin-bottom: 1px;
}

.footer-top {
  padding: 25px 0 0 0;
}

.footer-box {
  margin-bottom: 10px;
}

.footer-box h3 {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
  padding-bottom: 10px;
  display: block;
}

@media screen and (max-width: 991px) {
  .footer-box h3 {
    cursor: pointer;
  }
}

.footer-box h3 i {
  margin-left: 8px;
  transition: all ease 0.5s;
}

.footer-box h3 > a {
  color: inherit;
  display: block;
}

.footer-box ul.sub-menu {
  padding-left: 10px;
  margin: 0;
  list-style: none;
  display: none;
}

@media only screen and (min-width: 992px) {
  .footer-box ul.sub-menu {
    display: block;
  }
}

.footer-box ul.sub-menu li {
  position: relative;
  padding-left: 17px;
  color: #c4e0fb;
}

.footer-box ul.sub-menu li:not(:last-child) {
  margin-bottom: 8px;
}

.footer-box ul.sub-menu li::before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'FontAwesome';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  content: "\f105";
  display: inline-block;
  color: #5c82ae;
}

.footer-box ul.sub-menu li a {
  color: inherit;
}

.footer-box ul.sub-menu li a:hover, .footer-box ul.sub-menu li a:focus {
  color: #5c82ae;
}

.footer-box.show ul.sub-menu {
  display: block;
}

.footer-box.show h3 i {
  transform: rotate(180deg);
}

.footer-bottom {
  background-color: #023876;
  padding: 8px 0;
}

.social {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
  overflow: hidden;
}

.social li {
  float: left;
}

.social li + li {
  margin-left: 10px;
}

.social li a {
  display: table-cell;
  width: 44px;
  height: 44px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease-in-out;
  opacity: .7;
  text-align: center;
  color: #023876;
  vertical-align: middle;
}

.social li a::before {
  position: absolute;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  content: '';
  display: block;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
}

.social li a .fa {
  font-size: 24px;
  position: relative;
  z-index: 3;
}

.social li a:hover, .social li a:focus {
  opacity: 1;
}

.social li a:hover::before, .social li a:focus::before {
  opacity: 1;
}

.copyright {
  color: #769cc6;
  line-height: 20px;
}

.footer-contact-info a {
  color: inherit;
}

@media only screen and (min-width: 768px) {
  .footer-top {
    padding-top: 50px;
  }
  .footer-bottom-wrapper {
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  .social {
    width: 320px;
    float: left;
    margin-bototm: 0;
  }
  .copyright {
    float: left;
    width: calc(100% - 320px);
  }
}

/**! slide-home */
.slide-home {
  position: relative;
}

.slide-home img {
  width: 100%;
}

.slide-home .slick-dots {
  bottom: 26px;
}

.slide-home .slick-dots li {
  margin: 0 5px;
}

.slide-home .slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 0;
  background: #fff;
}

.slide-home .slick-dots li button:hover {
  background: #A7171D;
}

.slide-home .slick-dots li button:after {
  display: none;
}

.slide-home .slick-dots li.slick-active button {
  background: #A7171D;
}

/**! new-product */
.new-product {
  padding: 50px 0 20px;
}

.new-product.bg-light {
  border-bottom: 1px solid #eaeaea;
}

.slide-products .slick-slide {
  width: 280px;
  margin-left: 20px;
}

.slide-products .tile-product {
  margin-bottom: 30px;
}

.tile-product {
  background: #fff;
  text-align: center;
  padding: 15px;
  font-size: 13px;
  position: relative;
}

.tile-product .img {
  margin-bottom: 6px;
  text-align: center;
  height: 250px;
  line-height: 250px;
}

.tile-product .img img {
  display: inline-block;
  vertical-align: middle;
}

.tile-product .text {
  padding: 0 15px;
}

.tile-product h3 {
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 3px;
  line-height: 20px;
  height: 40px;
}

.tile-product .price {
  margin-bottom: 4px;
  min-height: 38px;
}

.tile-product .btn-red {
  min-width: 162px;
  border-radius: 0;
}

.tile-product.small {
  padding-top: 0;
}

.tile-product.small .img {
  height: 194px;
  line-height: 194px;
}

.tile-product.small h3 {
  line-height: 14px;
  height: 28px;
  font-size: 11px;
  margin-bottom: 0;
}

.price {
  font-size: 13px;
}

.price .normal-price {
  font-weight: 700;
}

.price .old-price {
  text-decoration: line-through;
  color: #707070;
}

.price .new-price {
  color: #A7171D;
  font-weight: 700;
}

.lbl-pro {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  font-family: Arial;
  color: #fff;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  z-index: 2;
}

.lbl-pro.sale {
  background: url("../img/bg/sale@2x.png") no-repeat 0 0/100% 100%;
}

/**! category-box */
.category-box.bg-light {
  padding: 50px 0;
}

.category-box .title {
  margin-bottom: 35px;
}

.category-box .btn {
  margin-top: 20px;
  border-radius: 0;
}

.category-box .price {
  font-size: 11px;
}

.category-box .tile-product {
  margin-bottom: 20px;
  padding-top: 0;
  line-height: 1.3;
  padding-bottom: 0;
}

@media only screen and (min-width: 992px) {
  .category-box .col-lg-5 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
}

.category-box .col-lg-5 a.img img {
  height: calc(100% - 20px);
}

@media only screen and (min-width: 992px) {
  .category-box .col-lg-8 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }
}

/**! inspection-center */
.inspection {
  padding: 20px 0 0;
}

.inspection-center {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/bg/trung-tam-giam-dinh.png");
  color: #fff;
}

.inspection-center .text {
  padding: 30px 0 0 15px;
  max-width: 385px;
  margin-bottom: 202px;
}

@media only screen and (min-width: 992px) {
  .inspection-center .text {
    padding: 54px 0 0 45px;
  }
}

.inspection-center h2 {
  font-size: 25px;
  font-weight: 700;
}

.inspection-center .desc {
  font-size: 15px;
  color: #E9E9E9;
}

.inspection-center .desc:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #707070;
}

.inspection-center .bottom {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px 15px 24px;
}

.inspection-center .bottom h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}

@media only screen and (min-width: 576px) {
  .inspection-center .bottom h3 {
    font-size: 30px;
  }
}

.inspection-center .bottom .btn {
  font-size: 20px;
  font-weight: 700;
  min-width: 186px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/**! collection */
.collections {
  padding: 20px 0;
}

@media only screen and (min-width: 992px) {
  .collections-inner {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-image: url("../img/bg/collection.jpg");
  }
  .collections-inner .row {
    min-height: 351px;
  }
}

.collections-inner .text {
  padding-left: 30px;
}

@media only screen and (min-width: 1200px) {
  .collections-inner .text {
    padding-left: 45px;
  }
}

.collections-inner h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.collections-inner .desc {
  font-size: 15px;
  color: #333333;
  line-height: 1.5;
  margin-bottom: 12px;
}

.collections-inner .btn {
  min-width: 192px;
}

.news-pricegold {
  padding: 32px 0 50px;
}

/**! news */
.news {
  position: relative;
}

@media only screen and (min-width: 992px) {
  .news {
    min-height: 100%;
    padding-bottom: 50px;
  }
}

.news .btn {
  min-width: 180px;
}

@media only screen and (min-width: 992px) {
  .news .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0);
  }
}

.tile-news-home {
  margin-bottom: 30px;
}

.tile-news-home h3 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 4px;
}

.tile-news-home h3 a {
  color: #A7171D;
}

.tile-news-home .time {
  margin-bottom: 4px;
}

.price-gold table {
  font-weight: 700;
  margin-bottom: 0;
}

.price-gold table th, .price-gold table td {
  border-width: 2px;
  border-color: rgba(167, 23, 29, 0.5);
}

.price-gold table p {
  margin-bottom: 0;
}

.price-gold table thead th {
  background: #A7171D;
  border-color: #A7171D;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}

.price-gold table tbody tr:last-child td {
  padding: 0;
  border-color: #A7171D;
}

.price-gold table tbody tr:last-child td .btn {
  border-radius: 0;
  font-size: 20px;
  font-weight: 700;
}

/**! advs-home */
@media only screen and (min-width: 992px) {
  .advs-home .col-lg-3 {
    -ms-flex: 0 0 26.53%;
    flex: 0 0 26.53%;
    max-width: 26.53%;
  }
}

@media only screen and (min-width: 992px) {
  .advs-home .col-lg-6 {
    -ms-flex: 0 0 46.94%;
    flex: 0 0 46.94%;
    max-width: 46.94%;
  }
}

.advs.bg-light {
  padding: 20px 0;
}

/**! category-box-sbj */
.category-box-sbj.bg-light {
  padding: 35px 0;
}

.category-box-sbj .tile-product {
  margin-bottom: 20px;
}

.category-box-sbj .thumb {
  display: block;
  margin-bottom: 20px;
}

@media only screen and (min-width: 992px) {
  .category-box-sbj .thumb {
    height: calc(100% - 20px);
  }
}

.category-box-sbj .thumb img {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .category-box-sbj .thumb img {
    height: 100%;
  }
}

.category-box-sbj .view-all {
  padding-top: 30px;
}

.caption-slide {
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.slide-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .slide-title {
    font-size: 30px;
    margin-bottom: 31px;
  }
}

.slide-desc {
  line-height: 1.7;
}

.content-service {
  padding: 40px 0;
}

.content-service .detail-text {
  line-height: 1.6;
}

.content-service .detail-text img {
  margin-bottom: 30px;
}

@media only screen and (min-width: 576px) {
  .content-service .detail-text img {
    max-width: calc(50% - 30px);
  }
}

.content-service .detail-text img.pull-left {
  float: none;
}

@media only screen and (min-width: 576px) {
  .content-service .detail-text img.pull-left {
    margin-right: 30px;
    float: left;
  }
}

.content-service .detail-text img.pull-right {
  float: none;
}

@media only screen and (min-width: 576px) {
  .content-service .detail-text img.pull-right {
    margin-left: 30px;
    float: right;
  }
}

.content-service .detail-text h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  clear: both;
  margin-bottom: 20px;
}

.content-service .detail-text p {
  margin-bottom: 20px;
}

.slide-other-products .item {
  width: 280px;
  margin-left: 20px;
}

.slide-other-products .item .photo {
  height: 220px;
  line-height: 220px;
}

.slide-other-products .item .photo img {
  display: inline-block;
  vertical-align: middle;
  max-height: 220px;
}

.slide-other-products .slick-arrow {
  display: block;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 22px;
  text-align: center;
  background-image: url("../img/etalage-control.png");
  background-repeat: no-repeat;
  transform: translate(0, -50%);
}

.slide-other-products .slick-arrow:before {
  display: none;
}

.slide-other-products .slick-arrow.slick-prev {
  left: -25px;
  background-position: 0 -44px;
}

.slide-other-products .slick-arrow.slick-next {
  right: -25px;
  background-position: 0 -66px;
}

.other-product {
  padding: 46px 0;
}

.other-product .bg-white {
  padding: 45px 25px;
}

/**! tile-gift */
.tile-gift {
  text-align: center;
  margin-bottom: 25px;
}

.tile-gift .img {
  margin-bottom: 11px;
}

.tile-gift .img img {
  display: inline-block;
}

.tile-gift h4 {
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .tile-gift h4 {
    font-size: 17px;
  }
}

.tile-gift h4 a {
  color: #A7171D;
}

/**! slide-gifts */
.slide-gifts {
  margin: 0;
  padding: 0 30px;
}

.slide-gifts .slick-slide .item {
  padding: 0 10px;
  vertical-align: top;
}

.slide-gifts .arrows-custom {
  margin: 0 -30px;
}

/**! breadcrumb-site */
.breadcrumb-site {
  background: #A7171D;
}

.breadcrumb-site .breadcrumb {
  background: transparent;
  border-radius: 0;
  margin: 0;
  color: #fff;
  padding: 9px 0;
}

.breadcrumb-site .breadcrumb-item {
  text-transform: uppercase;
  font-weight: 700;
}

.breadcrumb-site .breadcrumb-item a {
  color: #fff;
}

.breadcrumb-site .breadcrumb-item + .breadcrumb-item:before {
  content: ">";
  color: #fff;
}

.slidebar-product {
  padding: 20px 15px 0;
}

/**! nav-pro */
.sidebar-left .nav-collsape h4 {
  font-size: 15px;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .sidebar-left .nav-collsape h4 {
    cursor: pointer;
    position: relative;
    padding: 8px 15px;
    color: #fff;
    background: #A7171D;
  }
  .sidebar-left .nav-collsape h4 i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
  }
}

@media screen and (max-width: 991px) {
  .sidebar-left .nav-collsape .collsape-pro {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .sidebar-left .nav-collsape.open-sub .collsape-pro {
    display: block;
  }
}

.nav-pro h4 {
  margin-bottom: 0;
}

.nav-pro .collsape-pro {
  padding-bottom: 16px;
}

@media only screen and (min-width: 992px) {
  .nav-pro .collsape-pro {
    border-bottom: 2px solid #000;
  }
}

.nav-list {
  padding-left: 18px;
}

.nav-list li {
  display: block;
  margin-bottom: 6px;
}

.nav-list li ul {
  padding-left: 36px;
  margin: 0;
  list-style: none;
}

.nav-list label {
  margin: 0;
}

.nav-list .active {
  font-weight: 700;
}

.nav-list .active + ul {
  display: block !important;
}

.fillter-pro {
  padding-top: 6px;
}

.fillter-pro h4 {
  margin-bottom: 14px;
}

.slide-prodcuts-sales .slick-slide {
  width: 280px;
  margin-left: 20px;
}

/**! arrange-price */
.arrange-price {
  font-weight: 700;
  border-bottom: 1px solid #3c3c3c;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.arrange-price ul li {
  display: inline-block;
}

.arrange-price ul li + li {
  margin-left: 30px;
}

@media only screen and (min-width: 992px) {
  .arrange-price ul li + li {
    margin-left: 55px;
  }
}

.list-product .title-2 {
  margin-bottom: 23px;
}

.list-product .tile-product {
  margin-bottom: 20px;
}

.product-sale {
  margin-bottom: 26px;
}

@media only screen and (min-width: 992px) {
  .lv-2 .list-product {
    padding-left: 5px;
  }
}

.slidebar-product-sale {
  padding-top: 26px;
  padding-bottom: 45px;
}

@media only screen and (min-width: 992px) {
  .slidebar-product-sale {
    padding-top: 56px;
  }
}

.slidebar-product-sale .title-3 {
  margin-bottom: 26px;
}

.slidebar-product-sale .tile-product {
  margin-bottom: 20px;
}

.slidebar-product-sale .tile-product .img {
  height: 194px;
  line-height: 194px;
}

.slidebar-product-sale .text-center {
  padding-top: 30px;
}

@media only screen and (min-width: 992px) {
  .slidebar-product-sale .text-center {
    padding-top: 40px;
  }
}

.pagging {
  padding-top: 20px;
}

.pagging .view-all {
  font-weight: 700;
  margin-left: 10px;
}

.pagging .view-all a {
  color: #A7171D;
}

.pagination {
  margin-bottom: 0;
}

.page-item {
  margin: 0 10px;
}

.page-link {
  border: none;
  padding: 0;
  border-radius: 0;
  color: #333333;
  font-size: 18px;
  font-weight: 700;
}

.page-link:hover, .page-link:focus {
  color: #A7171D;
  background-color: transparent;
}

/**! Plugin slider for product-detail */
#etalage {
  display: none;
}

#etalage .etalage_thumb {
  background: white url(../img/loading.gif) center no-repeat;
}

#etalage .etalage_small_thumbs li {
  margin: 5px;
  cursor: pointer;
  padding-bottom: 4px;
}

#etalage .etalage_small_thumbs .etalage_small_thumb {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
}

#etalage .etalage_small_thumbs .etalage_smallthumb_active .etalage_small_thumb {
  border-width: 4px;
}

#etalage ul li.etalage_smallthumb_active {
  cursor: default;
}

#etalage .etalage_zoom_area,
.etalage_zoom_area {
  background: url(../img/loading.gif) center no-repeat;
  border: 1px solid #A7171D;
}

#etalage .etalage_magnifier {
  background: white;
  border: 1px solid #A7171D;
}

.etalage, .etalage_thumb, .etalage_thumb_image, .etalage_source_image, .etalage_zoom_preview, .etalage_icon, .etalage_hint {
  display: none;
}

.etalage, .etalage ul, .etalage li, .etalage img, .etalage_hint, .etalage_icon, .etalage_description {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

.etalage, .etalage_magnifier div, .etalage_magnifier div img, .etalage_small_thumbs ul, ul .etalage_small_thumbs li, .etalage_zoom_area div, .etalage_zoom_img {
  position: relative;
}

.etalage img, .etalage li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;
}

.etalage, .etalage_small_thumbs li {
  float: left;
}

.etalage_right {
  float: right;
}

.etalage li {
  position: absolute;
}

.etalage img {
  vertical-align: bottom;
  max-width: none;
}

.etalage_magnifier {
  cursor: default;
}

.etalage_magnifier div, .etalage_small_thumbs {
  overflow: hidden;
}

.etalage_magnifier div img {
  display: none;
}

.etalage_icon, .etalage_hint {
  cursor: default;
  width: 0;
  height: 0;
  overflow: hidden;
}

.etalage_small_thumbs li.vertical {
  float: none;
}

.etalage_zoom_area {
  z-index: 996;
}

.etalage_zoom_area div {
  overflow: hidden;
  z-index: 997;
}

.etalage_zoom_preview {
  position: absolute;
  z-index: 998;
}

.etalage_zoom_img, .etalage_hint {
  z-index: 999;
}

.etalage {
  direction: ltr;
}

div.etalage_description {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
}

div.etalage_description.rtl {
  direction: rtl;
  text-align: right;
}

.product-view {
  margin-bottom: 25px;
  position: relative;
}

.product-view::before, .product-view::after {
  display: table;
  content: '';
}

.product-view::after {
  clear: both;
}

@media only screen and (min-width: 992px) {
  .product-view {
    margin-bottom: 48px;
  }
}

@media only screen and (min-width: 992px) {
  .product-view .product-essential {
    width: 555px;
    float: left;
  }
}

.product-view .product-summary {
  margin-top: 15px;
}

@media only screen and (min-width: 992px) {
  .product-view .product-summary {
    float: left;
    width: calc(100% - 555px);
    margin-top: 0;
  }
  .product-view .product-summary .product-shop {
    padding-left: 50px;
  }
}

/**! product-img-box */
.product-img-box {
  position: relative;
  padding: 32px 0;
}

@media (min-width: 768px) {
  .product-img-box .etalage-control a {
    display: block;
    position: absolute;
    font-size: 40px;
    left: 40px;
    width: 30px;
    height: 22px;
    text-align: center;
    margin: 0;
    background-image: url("../img/etalage-control.png");
    background-repeat: no-repeat;
  }
  .product-img-box .etalage-control a.etalage-prev {
    top: 0;
    background-position: 0 0;
  }
  .product-img-box .etalage-control a.etalage-next {
    bottom: 0;
    background-position: 0 -22px;
  }
}

@media (max-width: 767.98px) {
  #etalage .etalage_small_thumbs {
    display: none;
  }
  .product-img-box {
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
  .product-view .product-img-box .etalage-control {
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 50%;
    margin-top: -20px;
    visibility: visible;
    transition: all .3s;
    z-index: 2;
  }
  .product-view .product-img-box .etalage-control a {
    display: block;
    position: absolute;
    left: auto;
    right: auto;
    top: 0;
    width: 30px;
    height: 22px;
    text-align: center;
    background-image: url("../img/etalage-control.png");
    background-repeat: no-repeat;
  }
  .product-view .product-img-box .etalage-control a.etalage-prev {
    margin: 0;
    left: 0;
    top: 0;
    background-position: 0 -44px;
  }
  .product-view .product-img-box .etalage-control a.etalage-next {
    margin: 0;
    right: 0;
    top: 0;
    background-position: 0 -66px;
  }
}

/**! product-shop */
.product-name {
  color: #333;
  font-size: 25px;
  line-height: 1.6;
  margin-bottom: 5px;
  font-weight: bold;
}

.product-code {
  color: #333;
}

@media only screen and (min-width: 1200px) {
  .product-code {
    text-align: right;
    padding-top: 7px;
  }
}

.product-shop .price {
  margin-bottom: 9px;
}

.product-shop .price .new-price {
  font-size: 25px;
}

.product-shop .price .unit {
  font-size: 20px;
  font-weight: 700;
  color: #A7171D;
}

.product-shop .short-desc {
  margin-bottom: 27px;
}

.product-shop .short-desc h2 {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.std {
  line-height: 1.6;
}

.buy {
  margin-bottom: 30px;
}

.buy .btn-red {
  font-weight: bold;
  min-width: 193px;
}

.buy-telephone {
  position: relative;
  padding-left: 33px;
}

.buy-telephone .icon-phone {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #a30234;
  background: #eeeeee;
  text-align: center;
  line-height: 22px;
  top: 0;
  left: 2px;
}

.buy-telephone .icon-phone .fa {
  color: #a30234;
}

.buy-telephone p {
  margin-bottom: 3px;
}

.share-with label {
  text-transform: uppercase;
  margin-bottom: 13px;
  padding-top: 10px;
  font-weight: bold;
  display: inline-block;
}

.social-share li a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #666666;
  text-align: center;
  line-height: 28px;
  display: block;
  color: #666;
}

.social-share li a .fa {
  font-size: 16px;
}

.social-share li a:hover, .social-share li a:focus {
  color: #a30234;
  border-color: #a30234;
  transition: all 0.3s ease-out;
}

.find-location label {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  padding-left: 22px;
}

.find-location label::before {
  position: absolute;
  top: 3px;
  left: 0;
  font-size: 20px;
  color: #a30234;
  font-family: 'FontAwesome';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f041';
  line-height: 1;
}

/**! relate-product */
.relate-product {
  padding: 50px 0 20px;
}

@media only screen and (min-width: 992px) {
  .relate-product .title {
    font-size: 30px;
  }
  .relate-product .title::after {
    width: 46px;
    margin-top: 5px;
  }
}

/**! Page News */
.bg-darkgrey {
  background: #efefef;
}

.list-girds {
  padding-top: 35px;
  padding-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .list-girds {
    padding-top: 78px;
    padding-bottom: 48px;
  }
}

/**! banner-2 */
.slide-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.dots-diamond .slick-dots {
  bottom: 1px;
}

.dots-diamond .slick-dots li button {
  padding: 0;
  margin: 0 6px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-color: #878786;
  position: relative;
  top: -7px;
}

.dots-diamond .slick-dots li button:before {
  content: '';
  position: absolute;
  left: -7px;
  top: 7px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: #878786;
}

.dots-diamond .slick-dots li button:after {
  display: none;
}

.dots-diamond .slick-dots li.slick-active button {
  border-bottom-color: #a6171d;
}

.dots-diamond .slick-dots li.slick-active button:before {
  border-top-color: #a6171d;
}

.page-title {
  margin-bottom: 30px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .page-title {
    margin-bottom: 67px;
  }
}

.page-title h2 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #A7171D;
  margin-bottom: 0;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .page-title .news-filter {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .page-title-news {
    min-height: 58px;
  }
}

.page-title-news h2 {
  padding-top: 12px;
}

.btn-danger-lg {
  background: #a8171e;
  line-height: 22px;
  padding: 18px 25px 18px 18px;
  color: #fff;
  border-radius: 0;
  border: none;
}

.btn-danger-lg:after {
  border: none;
  content: "\f107";
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #fff;
  margin-left: 5px;
  vertical-align: top;
}

.min-width-140 {
  min-width: 140px;
}

.row.masonry {
  margin-left: -15px;
  margin-right: -15px;
}

.row.masonry > [class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.masonry-item {
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .masonry-item {
    margin-bottom: 55px;
  }
}

.masonry-item .figure-thumb {
  position: relative;
  overflow: hidden;
  display: block;
}

.masonry-item .figure-thumb:after {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: ' ';
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out 0s;
}

.masonry-item .figure-thumb img {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  width: 100%;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.masonry-item:hover img {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  width: 100%;
}

.masonry-item:hover .figure-thumb:after {
  opacity: 1;
  visibility: visible;
}

.masonry-item .lower-content {
  background: #fff;
  padding: 35px 18px;
}

.masonry-item h3 {
  text-transform: uppercase;
  color: #A7171D;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.masonry-item .desc {
  margin-bottom: 30px;
  line-height: 24px;
  font-size: 16px;
}

.masonry-item .btn {
  border-radius: 0;
}

.paging .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.paging .page-link {
  background: transparent;
}

.paging .page-item.active .page-link {
  color: #A7171D;
  background-color: transparent;
  border-color: transparent;
}

.timepost {
  color: #949494;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 12px;
}

/**! TTGD */
.banner-3 {
  background: url("../img/upload/banner_ttgd.jpg") no-repeat center center;
  background-size: cover;
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .banner-3 {
    margin-bottom: 50px;
  }
}

.banner-3 .whisper-wrap {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 50px;
}

.banner-3 .whisper {
  background: rgba(0, 0, 0, 0.6);
  padding: 23px;
  text-align: center;
  color: #fff;
  margin-bottom: 36px;
}

.banner-3 .whisper-head {
  position: relative;
  margin-bottom: 25px;
}

.banner-3 .whisper-head:after {
  width: 86px;
  height: 2px;
  content: ' ';
  display: block;
  margin: 0 auto;
  background: #fff;
  margin-top: 25px;
}

.banner-3 .whisper-head h3 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: normal;
}

.banner-3 .whisper-head .sub {
  margin-bottom: 0;
}

.banner-3 .whisper-body {
  padding: 20px;
  max-width: 560px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.banner-3 .whisper-body .desc-content {
  line-height: 24px;
  max-height: 120px;
}

.banner-3 .btn {
  font-size: 16px;
}

.min-width-195 {
  min-width: 192px;
}

/**! services */
.services .service-title {
  font-size: 30px;
}

.services .service-title:after {
  margin-top: 8px;
}

.single-srv-wrap {
  position: relative;
  margin-bottom: 20px;
}

.single-srv-wrap:hover .single-srv-img:before {
  opacity: 1;
  visibility: visible;
}

.single-srv-wrap:hover .single-srv-img img {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  width: 100%;
}

.single-srv-wrap .single-srv-img {
  display: block;
  overflow: hidden;
  position: relative;
}

.single-srv-wrap .single-srv-img img {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  width: 100%;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.single-srv-wrap .single-srv-img:after {
  background: url("../img/bg/bg-ttgd.png") no-repeat left bottom/cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
}

.single-srv-wrap .single-srv-img:before {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: ' ';
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out 0s;
  z-index: 2;
}

.single-srv-wrap .single-srv {
  color: #fff;
  padding: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .single-srv-wrap .single-srv {
    padding: 20px 40px;
    bottom: 35px;
  }
}

.single-srv-wrap .single-srv .title {
  color: #fff;
}

.single-srv-wrap .single-srv .title:after {
  background-color: #fff;
}

.single-srv-wrap .short-text {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 0;
  max-height: 144px;
  text-align: center;
}

/**! quality-standard */
.quality-standard {
  background: url("../img/upload/banner_text_ttgd.jpg") no-repeat left top/cover;
  overflow: hidden;
  margin-bottom: 45px;
}

.quality-column {
  padding: 30px;
}

.quality-column h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.quality-column h3:after {
  width: 152px;
  height: 2px;
  background-color: #000;
  display: block;
  content: ' ';
  margin: 36px auto 0 auto;
}

.quality-column .quality-short-text {
  line-height: 24px;
  margin-bottom: 50px;
}

.quality-column .btn {
  font-size: 16px;
}

/**! box-thumnail */
.box-thumnail {
  margin-bottom: 20px;
}

.box-thumnail .figure-img {
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
}

.box-thumnail .figure-img img {
  width: 100%;
}

.box-thumnail .figure-img:before {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: ' ';
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out 0s;
}

.box-thumnail:hover .figure-img:before {
  opacity: 1;
  visibility: visible;
}

.box-thumnail .box-thumnail-desc {
  background-color: #a7171d;
  padding: 10px;
  color: #fff;
}

.box-thumnail .box-thumnail-desc h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}

.knowledge-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.knowledge-list li {
  line-height: 26px;
  margin-bottom: 27px;
}

.knowledge-list li h3 {
  color: #a7171d;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.knowledge-list li h3 a {
  color: inherit;
}

.knowledge-button {
  padding-bottom: 20px;
}

/**! center-support */
.center-support {
  padding: 20px 0;
  background-color: #f7f7f7;
}

.center-support .sp-title {
  text-transform: uppercase;
  font-size: 26px;
  color: #002142;
  font-weight: normal;
  margin-bottom: 40px;
}

.center-support .box-support {
  padding: 35px 0 15px 0;
  border-bottom: 1px solid #eeeeee;
}

.center-support .direction {
  display: block;
  position: relative;
  color: inherit;
  padding-top: 72px;
}

.center-support .direction:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.center-support .direction h3 {
  font-weight: 500;
  font-size: 15px;
  color: #002142;
}

.sm-faq,
.sm-hotline,
.sm-chat {
  max-width: 340px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .sm-faq,
  .sm-hotline,
  .sm-chat {
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .row-support .col-md-4:not(:last-child) {
    border-right: 2px solid #f6f6f6;
  }
}

/**! slide-collection */
.slide-collection {
  position: relative;
  z-index: 2;
  margin-bottom: 104px;
}

@media only screen and (min-width: 576px) {
  .slide-collection {
    margin-top: -80px;
  }
}

.slide-collection .slick-dots {
  bottom: -58px;
}

@media only screen and (min-width: 992px) {
  .slide-collection .slick-dots {
    bottom: 20px;
    padding-left: 50%;
    width: 100%;
    text-align: center;
    left: 0;
    transform: translate(0, 0);
  }
}

.slide-collection .slick-dots li {
  margin: 0 5px;
}

.slide-collection .slick-dots li button:after {
  width: 12px;
  height: 12px;
  border-radius: 0;
  border: none;
  background: #CCCCCC;
  transform: rotate(45deg);
}

.slide-collection .slick-dots li button:hover:after {
  background: #A7171D;
}

.slide-collection .slick-dots li.slick-active button:after {
  background: #A7171D;
}

.tile-collection {
  background: #fff;
  padding: 12px;
}

.tile-collection img {
  display: inline-block;
}

.tile-collection .title {
  font-size: 25px;
  margin-bottom: 34px;
}

.tile-collection .title:after {
  margin-top: 10px;
}

.tile-collection .btn {
  min-width: 192px;
}

.tile-collection .desc {
  margin-bottom: 44px;
}

.list-collection-item {
  position: relative;
  margin-bottom: 35px;
  overflow: hidden;
}

.list-collection-item a {
  display: block;
}

.list-collection-item a img {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  width: 100%;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  display: block;
}

.list-collection-item a:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/bg/collection.png") bottom left repeat-x;
  z-index: 1;
  transition: all ease 0.5s;
}

.list-collection-item a:before {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: ' ';
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out 0s;
  z-index: 2;
}

.list-collection-item a:hover:before {
  opacity: 1;
  visibility: visible;
}

.list-collection-item a:hover img {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  width: 100%;
}

.list-collection-item .text {
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 28px 10px;
  z-index: 2;
}

.banner-inner .item-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 350px;
}

@media only screen and (min-width: 768px) {
  .banner-inner .item-img {
    min-height: 464px;
  }
}

.banner-inner .item-img > .container > .row {
  min-height: 350px;
}

@media only screen and (min-width: 768px) {
  .banner-inner .item-img > .container > .row {
    min-height: 464px;
  }
}

.banner-inner .slick-dots {
  bottom: 52px;
  width: 100%;
  text-align: center;
  left: 0;
  transform: translate(0, 0);
}

.banner-inner .slick-dots li {
  margin: 0 5px;
}

.banner-inner .slick-dots li button:after {
  width: 12px;
  height: 12px;
  border-radius: 0;
  border: none;
  background: #CCCCCC;
  transform: rotate(45deg);
}

.banner-inner .slick-dots li button:hover:after {
  background: #A7171D;
}

.banner-inner .slick-dots li.slick-active button:after {
  background: #A7171D;
}

.sub-collection {
  margin-top: 44px;
  margin-bottom: 55px;
}

.sub-collection .pagging {
  padding-top: 0;
}

.tile-sub-collection {
  text-align: center;
  margin-bottom: 45px;
}

.tile-sub-collection figure {
  margin-bottom: 23px;
}

.tile-sub-collection h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.tile-sub-collection h3 a {
  color: #A7171D;
}

.title-page {
  background: url("../img/bg/title-gold.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  margin-bottom: 40px;
}

.title-page:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.title-page .container {
  position: relative;
  z-index: 2;
  padding-top: 15px;
  padding-bottom: 15px;
}

.title-page h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

/**! gold-table */
.gold-table {
  margin-bottom: 40px;
}

.gold-table .title {
  margin-bottom: 0;
}

.gold-table .title:after {
  margin-top: 10px;
}

.gold-table table {
  text-align: center;
  margin-bottom: 0;
}

.gold-table table th, .gold-table table td {
  border-width: 2px;
  border-color: #692927;
  border-left: none;
  border-right: none;
}

.gold-table table th {
  text-transform: uppercase;
  font-weight: 700;
}

.gold-table table .btn-bottom {
  padding: 0;
}

.gold-table table .btn-bottom .btn {
  border-radius: 0;
}

.gold-table .table-responsive > .table-bordered {
  border-right: 2px solid #692927;
  border-left: 2px solid #692927;
}

.header-table-gold {
  margin-bottom: 20px;
}

.header-table-gold .info {
  font-weight: 700;
}

.header-table-gold .info p {
  margin-bottom: 0;
}

.header-table-gold .info p.time {
  font-size: 14px;
}

.header-table-gold .fillter-day span {
  font-weight: 700;
  margin-right: 30px;
}

.header-table-gold .fillter-day .form-control {
  -ms-flex: 0 0 132px;
  flex: 0 0 132px;
  max-width: 132px;
  border-color: #000;
  padding: 7px 0;
  text-align: center;
  border-radius: 0;
  margin-right: 22px;
  font-weight: 700;
  color: #333333;
}

.header-table-gold .fillter-day .form-control::-webkit-input-placeholder {
  color: #333333;
}

.header-table-gold .fillter-day .form-control:-moz-placeholder {
  color: #333333;
  opacity: 1;
}

.header-table-gold .fillter-day .form-control::-moz-placeholder {
  color: #333333;
  opacity: 1;
}

.header-table-gold .fillter-day .form-control:-ms-input-placeholder {
  color: #333333;
}

.header-table-gold .fillter-day .form-control.year {
  -ms-flex: 0 0 56px;
  flex: 0 0 56px;
  max-width: 56px;
}

.header-table-gold .fillter-day .calendar {
  border: none;
  background-color: transparent;
  background: url(../img/calendar.png) no-repeat;
  width: 23px;
  height: 23px;
  padding: 0;
}

.header-table-gold .fillter-day .btn {
  border-radius: 10px;
}

/**! search-shop */
.search-shop {
  background: #f7f7f7;
  padding-top: 32px;
  padding-bottom: 50px;
}

.accordion-map .card {
  border: none;
  margin-bottom: 25px;
}

.accordion-map .card:last-child {
  margin-bottom: 0;
}

.accordion-map .card-header {
  padding: 0;
  border: none;
  background-color: transparent;
}

.accordion-map .btn {
  border-radius: 0;
}

.accordion-map .card-body {
  padding: 32px 6px 30px 30px;
}

.list-shop-address {
  max-height: 480px;
  overflow: hidden;
}

.list-shop-address ul li h4 {
  font-size: 15px;
  color: #A7171D;
  font-weight: normal;
  margin-bottom: 16px;
}

.list-shop-address ul li h4 a {
  color: #A7171D;
}

.list-shop .title-2 {
  margin-bottom: 22px;
  color: #000;
}

.list-shop .mCSB_scrollTools .mCSB_draggerRail {
  width: 13px;
  background-color: transparent;
}

.list-shop .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 13px;
  background-color: #B0ABAB;
}

.map-item {
  height: 100%;
}

.maps {
  width: 100%;
  height: 350px;
}

@media only screen and (min-width: 992px) {
  .maps {
    height: 100%;
    min-height: 700px;
  }
}

/**! shopping cart */
.shopping-cart .title-2 {
  color: #000;
  margin-bottom: 20px;
}

.qty {
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  display: inline-block;
}

.qty-holder {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  color: #000;
}

.qty-changer {
  display: inline-block;
  vertical-align: middle;
}

.qty-changer .qty_inc, .qty-changer .qty_dec {
  display: block;
  margin: 0;
  text-align: center;
  line-height: 1;
  color: #b4b4b4;
}

.qty-changer .qty_inc:hover, .qty-changer .qty_inc:focus, .qty-changer .qty_dec:hover, .qty-changer .qty_dec:focus {
  color: #A7171D;
  text-decoration: none;
}

.input-qty {
  margin-right: 2px;
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: #000;
  border: none;
  line-height: 23px;
  padding: 5px 0;
  margin: 0;
  background-color: transparent;
}

.product-price {
  font-size: 16px;
}

.cart-items {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.space {
  padding: 0 2px;
}

/**! checkout */
.checkout {
  padding: 40px 0;
}

.checkout .nav-tabs {
  border-top: .125rem solid #ebebeb;
  border-bottom: 0;
}

.checkout .nav-tabs li {
  position: relative;
  text-align: center;
  padding: 20px;
  width: 33.333333%;
  text-transform: uppercase;
  font-weight: 700;
}

.checkout .nav-tabs li a {
  padding: 0;
  border: 0;
}

.checkout .nav-tabs li a:before {
  content: '';
  position: absolute;
  left: calc(50% - 10px);
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ebebeb;
}

.checkout .nav-tabs li a.reachable:before {
  background: #9ee1d7;
}

.checkout .nav-tabs li a.reachable.active:before {
  background: #50c9b7;
}

.checkout .nav-tabs li > span {
  display: none;
}

.checkout .nav-tabs .nav-link.disabled {
  color: #949494;
  background-color: transparent;
  border-color: transparent;
}

.checkout .checkout-step {
  border: .0625rem solid #f4f4f4;
  padding: 20px;
}

.checkout .nav {
  margin-bottom: 20px;
}

.checkout .nav li a {
  padding: 0;
  color: #949494;
}

.checkout .nav li a.active {
  color: #000;
}

.block-reassurance ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  color: #949494;
}

.custom-control {
  min-height: 20px;
  padding-left: 27px;
}

.custom-control label {
  margin-bottom: 0;
}

.custom-radio input, .custom-radio span {
  cursor: pointer;
}

.custom-control-label {
  margin-bottom: 0;
}

.custom-control-label::before {
  position: absolute;
  top: -.0715rem;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  box-shadow: inset 0 0 0 0.0625rem #a1a1a1;
}

.custom-control-label::after {
  top: -5px;
  left: -8px;
  display: block;
  width: 32px;
  height: 31px;
  background-position: center center;
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: 50% 50%;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #3a3a3a;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #3a3a3a;
  box-shadow: none;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #3a3a3a;
}

.custom-radio .custom-control-label::before {
  border-radius: 50%;
}

.form-control-comment {
  font-size: 13px;
  font-style: italic;
  color: #949494;
}

.radius-0 {
  border-radius: 0;
}

.logo-bank {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
}

.logo-bank:hover {
  border-color: #A7171D;
}

.col-bank {
  margin-bottom: 10px;
}

.payment-radio .radio {
  width: 20px;
  height: 20px;
  border: 1px solid #828282;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.payment-radio .label-text {
  position: relative;
  display: inline-block;
  min-height: 24px;
}

.payment-additional-information {
  display: none;
  margin: 20px 0 16px 25px;
}

.panel-information {
  padding: 20px 0;
}

.panel-information h3 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.form-update-info {
  max-width: 540px;
  margin-bottom: 35px;
}

.form-update-info .my-address {
  color: #999;
  padding: 30px 20px 45px;
  border-bottom: 1px solid #ccc;
}

.form-update-info .my-address .inner {
  position: relative;
  padding-left: 35px;
}

.form-update-info .my-address label {
  font-weight: 700;
  margin: 0;
  color: #000;
}

.form-update-info .my-address p {
  padding: 10px 0 0 25px;
}

.form-update-info .option-my-address {
  text-align: center;
  padding: 45px 20px 20px;
}

.form-update-info .option-my-address a i {
  margin-right: 5px;
}

.form-update-info .option-my-address a + a {
  margin-left: 15px;
}

.add-new-address {
  margin-bottom: 15px;
}

.add-new-address a {
  color: #A7171D;
}

.add-new-address a i {
  margin-right: 5px;
}

.billing-address {
  margin-bottom: 20px;
}

.billing-address a i {
  margin-right: 5px;
}

.contact-form {
  margin-bottom: 38px;
}

.contact-form .form-control {
  border-color: #000;
  box-shadow: 0 1px #888888 inset, 1px 0 #888888 inset, 0 -1px inset, -1px 0 #888888 inset;
  color: #000;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
}

.contact-form .form-control::-webkit-input-placeholder {
  color: #808080;
}

.contact-form .form-control:-moz-placeholder {
  color: #808080;
  opacity: 1;
}

.contact-form .form-control::-moz-placeholder {
  color: #808080;
  opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #808080;
}

.contact-form .form-group {
  margin-bottom: 18px;
}

.contact-form .btn-form {
  padding-top: 12px;
}

.back-redirect {
  margin-bottom: 26px;
}

.back-redirect a {
  color: #A7171D;
}

.back-redirect a i {
  margin-right: 5px;
}

.header-blog {
  margin-bottom: 33px;
}

.header-blog h2 {
  color: #A7171D;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}

.header-blog .time {
  font-style: italic;
  margin-bottom: 0;
}

.header-blog:after {
  content: "";
  display: block;
  margin: 14px auto 0;
  background-color: #A7171D;
  height: 2px;
  width: 130px;
}

.content-blog p {
  margin-bottom: 26px;
}

.single-blog {
  margin-bottom: 33px;
}

@media only screen and (min-width: 768px) {
  .about-us .desc {
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -moz-column-width: 50%;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    -webkit-column-width: 50%;
    column-count: 2;
    column-gap: 30px;
    column-width: 50%;
  }
}

.tile-award {
  margin-bottom: 55px;
  text-align: center;
}

.tile-award figure {
  margin-bottom: 23px;
}

.tile-award h3 {
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}

.section-general {
  padding: 35px 0 0;
}

.core-values h3 {
  font-size: 15px;
  font-weight: 700;
}

.search-result {
  margin-top: 32px;
}

.search-result .tile-product {
  margin-bottom: 20px;
}
