/**************************************************************************
		        Style JX Wishlist
**************************************************************************/

#jxwishlist-link {
  padding: 14px;
  @media (max-width: 1199px) {
    span {
      display: none;
    }
  }
}

#wishlist_button,
#wishlist_button_nopop,
.wishlist_button,
.wishlist_button_nopop {
  cursor: pointer;
  i {
    display: inline-block;
    + i {
      display: none;
    }
  }
}

.added-to-wishlist {
  #wishlist_button,
  #wishlist_button_nopop,
  .wishlist_button,
  .wishlist_button_nopop {
    i {
      display: none;
      + i {
        display: inline-block;
      }
    }
  }
}

.product-miniature {
  .wishlist_button,
  .wishlist_button_nopop {
    position: absolute;
    right: 0;
    top: 0;
    i {
      margin-top: -5px;
      font-size: 18px;
    }
    span {
      display: none;
    }
  }
}

.popover {
  z-index: 9999;
}

.popover-item-wishlist {
  margin-bottom: 5px;
  &:hover {
    cursor: pointer;
    color: #ccc;
  }
}

.all-wishlist {
  > li {
    padding: 37px 22px 32px;
    background: #f6f6f6;
    margin-bottom: 30px;
    h3 {
      margin: 0;
      padding: 0 0 25px;
      border-bottom: 1px solid #cdcdcd;
      color: #1b1b1b;
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      span {
        @media (max-width: 768px) {
          display: block;
          margin-bottom: 12px;
        }
      }
      .delete-wishlist,
      .edit-wishlist {
        float: right;
        font-size: 18px;
        color: #353535;
        outline: 0;
        transition: all 0.2s linear;
        margin: 1px 1px 0 0;
        @media (max-width: 768px) {
          margin-bottom: 12px;
        }
        &:hover {
          color: #777;
        }
      }
      .edit-wishlist {
        margin: 2px 22px 0 0;
      }
    }
    .btn-view-wishlist {
      font-weight: bold;
      font-size: 16px;
      line-height: 25px;
      color: #fff;
      background: #fd7e01;
      border: none;
      padding: 10px 25px;
      transition: all 0.2s linear;
      float: left;
      margin-right: 20px;
      &:hover {
        background: #ec7806;
      }
    }
    #add-new-layout {
      float: right;
      border: 1px solid #d6d4d4;
      background: #fff;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      color: #353535;
      padding: 0;
      outline: 0;
      transition: all 0.2s linear;
      @media (max-width: 480px) {
        float: left;
        margin: 30px 0;
        clear: left;
      }
      span {
        display: inline-block;
        padding: 9px 17px;
      }
      &:before {
        background-image:url(../img/8b05d51ede908907d65695558974d86f.svg);
        content:"";
        width: 40px;
        height: 40px;
        float: left;
        border-right: 1px solid #d6d4d4;
      }
      &:hover {
        background: #fafafa;
      }
    }
    .btn-product-wishlist {
      float: right;
      color: #353535;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      text-decoration: none;
      margin: 12px 15px 0 0;
      outline: 0;
      cursor: pointer;
      @media (max-width: 480px) {
        float: left;
        clear: left;
      }
      &:hover, &.active {
        color: #fd7e01;
      }
    }
    .wishlist-products-container {
      padding-bottom: 25px;
      border-bottom: 1px solid #cdcdcd;
      display: none;
      ul {
        li {
          padding-top: 25px;
          .product_image {
            margin-bottom: 20px;
            position: relative;
            .lnkdel {
              position: absolute;
              right: 10px;
              top: 10px;
            }
          }
          h5 {
            text-align: center;
            a {
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              color: #1b1b1b;
              transition: all 0.2s linear;
              .quantity-formated {
                color: #333;
                display: inline-block;
                font-size: 10px;
                padding-right: 5px;
                text-transform: uppercase;
                .quantity {
                  font-size: 14px;
                }
              }
              &:hover {
                color: #777;
              }
            }
          }
          .content_price {
            span {
              color: #333;
              font-weight: bold;
              font-size: 18px;
              line-height: 21px;
            }
          }
        }
      }
      .alert.alert-warning {
        margin: 30px 0 0;
      }
    }
    .wishlist-row-bottom {
      margin-top: 25px;
    }
  }
}

.wishlist_content {
  .product_image {
    border: 1px solid #d6d4d4;
    position: relative;
    .lnkdel {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

.pop_btn_wishlist {
  float: right;
  margin-top: 20px;
}

/**************************************************************************
		        Style for popup with select layouts
**************************************************************************/
#wishlistModal, #wishlistAddedModal {
  .modal-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .close {
      padding: 15px;
      margin: -15px -15px -15px auto;
    }
    &:after {
      display: none;
    }
  }
  .jxwl-title {
    > span {
      color: #1b1b1b;
      font-weight: bold;
      font-size: 30px;
      line-height: 33px;
      text-transform: uppercase;
      span {
        color: #333;
        font-weight: bold;
        font-size: 15px;
        line-height: 33px;
        text-transform: none;
        display: inline-block;
        margin-left: 20px;
      }
    }
  }
}

#wishlistModal {
  .modal-dialog {
    max-width: 1020px;
  }
  #jxwl-layouts-popup {
    .jxwl_popup_item {
      position: relative;
      .popup_store_logo {
        position: absolute;
        left: 54%;
        top: 7%;
        width: 140px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      h5 {
        color: #1b1b1b;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        position: absolute;
        left: 53%;
        top: 40%;
      }
      &.jxwl_row_1,
      &.jxwl_row_2 {
        margin-bottom: 30px;
      }
      @media (max-width: 768px) {
        &.jxwl_row_3 {
          margin-bottom: 30px;
        }
      }
      &.jxwl_row_1 {
        .popup_store_logo {
          right: 22%;
        }
      }
      &.jxwl_row_2 {
        h5 {
          left: 63%;
          top: 48%;
        }
      }
      &.jxwl_row_3 {
        h5 {
          left: 7%;
          top: 12%;
        }
      }
      &.jxwl_row_4 {
        .popup_store_logo {
          right: inherit;
          left: 7%;
          top: inherit;
          bottom: 7%;
        }
        h5 {
          left: 7%;
          top: 5%;
        }
      }
      > ul {
        min-height: 248px;
        transition: all 0.3s linear 0s;
        cursor: pointer;
        border: 1px solid #f6f6f6;
        &:hover {
          box-shadow: rgba(black, 0.2) 0 0 7px;
        }
      }
    }

    .block-container-row {
      .jxwl_popup_item {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
        .popup_store_logo {
          display: none;
        }
        ul {
          padding: 0;
          border: none;
          cursor: auto;
          background: none;
          &:hover {
            background: none;
            box-shadow: none;

          }
          &.jxwl_row_4 {
            min-height: 182px;
            li {
              width: 20%;
              float: left;
              padding: 0 15px;
              .content {
                height: 185px;
              }
            }
          }
          @media (max-width: 768px) {
            &.jxwl_row_2 {
              li:first-child {
                margin-bottom: 30px;
              }
            }
            &.jxwl_row_3 {
              li {
                margin-bottom: 30px;
              }
            }
            &.jxwl_row_4 {
              li {
                margin-bottom: 30px;
                width: 50%;
              }
            }
          }
          @media (max-width: 1199px) {
            &.jxwl_row_3 {
              li {
                margin-bottom: 30px;
              }
            }
          }
          @media (max-width: 480px) {
            &.jxwl_row_4 {
              li {
                width: 100%;
              }
            }
          }
          li {
            border: none;
            .content {
              background: #f6f6f6;
              border: 1px solid #f6f6f6;
              cursor: pointer;
              overflow: hidden;
              position: relative;
              transition: all 0.3s linear 0s;
              height: 255px;
              &:before {
                content: "\f0fe";
                font: 400 35px/45px "FontAwesome";
                display: inline-block;
                width: 45px;
                height: 45px;
                background: #fd7e01;
                color: #fff;
                text-align: center;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-top: -22px;
                margin-left: -22px;
              }
              img {
                width: 257px;
                margin: 0 auto;
              }
              .clear-item {
                color: #cccccc;
                position: absolute;
                right: 7px;
                top: 7px;
                transition: all 0.3s linear 0s;
                z-index: 3;
                &:hover {
                  color: #333;
                }
              }
              &:hover {
                box-shadow: rgba(black, 0.15) 0 0 7px;
              }
              &.current {
                background: #fff;
                .jxwl-content-image {
                  img {
                    max-width: 100%;
                    height: auto;
                  }
                }
                &:before {
                  display: none;
                }
              }
            }
          }
        }
      }
      .block-container-product {
        padding: 0 15px;
        .product {
          float: left;
          padding: 6px;
          width: 155px;
          cursor: pointer;
          &.active {
            display: none;
          }
          &:hover {
            box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px;
          }
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
      .share_button {
        margin-right: 15px;
        float: right;
        border: 1px solid #d6d4d4;
        background: #fff;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #353535;
        padding: 0;
        outline: 0;
        transition: all 0.2s linear;
        span {
          display: inline-block;
          padding: 9px 17px;
        }
        &:before {
          background-image: url(../img/8b05d51ede908907d65695558974d86f.svg);
          content: "";
          width: 40px;
          height: 40px;
          float: left;
          border-right: 1px solid #d6d4d4;
        }
        &:hover {
          background: #fafafa;
        }
      }
      .back_button {
        margin-left: 15px;
      }
      #back_button_step_2 {
        margin-top: 30px;
      }
    }
  }
}

.jxwl_popup_item > .jxwl_row_1 {
  background: url(../img/jxwl_row_1.jpg) left top no-repeat;
  background-size: 100% 100%;
}
.jxwl_popup_item > .jxwl_row_2 {
  background: url(../img/jxwl_row_2.jpg) left top no-repeat;
  background-size: 100% 100%;
}

.jxwl_popup_item > .jxwl_row_3 {
  background: url(../img/jxwl_row_3.jpg) left top no-repeat;
  background-size: 100% 100%;
}
.jxwl_popup_item > .jxwl_row_4 {
  background: url(../img/jxwl_row_4.jpg) left top no-repeat;
  background-size: 100% 100%;
}

#view_wishlist ul li {
  .product_image {
    margin: 0 0 20px;
  }
  .product_container {
    text-align: center;
    padding-bottom: 30px;
    h5 {
      .quantity-formated {
        color: #333;
        display: inline-block;
        font-size: 10px;
        padding-right: 5px;
        text-transform: uppercase;
        .quantity {
          font-size: 17px;
        }
      }
    }
    .content_price {
      color: #333;
      font-size: 21px;
      margin-bottom: 20px;
    }
  }
}
