.header-top {
  display: none;
}

.jx-products-slider * {
  box-sizing: border-box;
}
.jx-products-slider .swiper-pagination {
  position: static;
}

.product-thumbnail {
  display: flex;
  align-items: center;
  height: 100%;
}

.jx-products-slider-wrapper {
  position: relative;
}
.jx-products-slider-wrapper.list .jx-products-slider {
  width: 67%;
  margin: 0;
}
.jx-products-slider-wrapper.list .jx-products-slider + .swiper-thumbnails {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.jx-products-slider-wrapper.list .jx-products-slider + .swiper-thumbnails .swiper-container {
  height: 100%;
}
.jx-products-slider-wrapper.list .jx-products-slider + .swiper-thumbnails .swiper-container .swiper-slide {
  background: #ffffff;
}
.jx-products-slider-wrapper.list .jx-products-slider + .swiper-thumbnails .swiper-container .swiper-slide img {
  border: 2px solid #333333;
}
.jx-products-slider-wrapper.list .jx-products-slider + .swiper-thumbnails .swiper-button-prev, .jx-products-slider-wrapper.list .jx-products-slider + .swiper-thumbnails .swiper-button-next {
  transform: rotate(90deg);
  left: 50%;
  margin: 0 0 0 -22px;
  top: -9px;
}
.jx-products-slider-wrapper.list .jx-products-slider + .swiper-thumbnails .swiper-button-prev.swiper-button-next, .jx-products-slider-wrapper.list .jx-products-slider + .swiper-thumbnails .swiper-button-next.swiper-button-next {
  top: auto;
  bottom: -9px;
}
.jx-products-slider-wrapper.grid .jx-products-slider {
  width: 50%;
  margin: 0;
}
.jx-products-slider-wrapper.grid .jx-products-slider + .swiper-thumbnails {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.jx-products-slider-wrapper.grid .jx-products-slider + .swiper-thumbnails .swiper-slide {
  width: calc(100% / 3);
}
.jx-products-slider-wrapper.grid .jx-products-slider + .swiper-thumbnails .swiper-slide.swiper-slide-active, .jx-products-slider-wrapper.grid .jx-products-slider + .swiper-thumbnails .swiper-slide:hover {
  background: #666;
  transition: all 0.3s ease;
}
.jx-products-slider-wrapper.full-width .jx-products-slider + .swiper-thumbnails .swiper-slide {
  background: #999;
}
.jx-products-slider-wrapper.full-width .jx-products-slider + .swiper-thumbnails .swiper-slide.swiper-slide-active, .jx-products-slider-wrapper.full-width .jx-products-slider + .swiper-thumbnails .swiper-slide:hover {
  background: #666;
  transition: all 0.3s ease;
}
