.header-top {
  display: none;
}
.jx-products-slider {
  * {
    box-sizing: border-box;
  }
  .swiper-pagination {
    position: static;
  }
}
.product-thumbnail {
  display: flex;
  align-items: center;
  height: 100%;
}
.jx-products-slider-wrapper {
  position: relative;
  &.list .jx-products-slider {
    width: 67%;
    margin: 0;
    + .swiper-thumbnails {
      width: 30%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      .swiper-container {
        height: 100%;
        .swiper-slide {
          background: #ffffff;
          img {
            border: 2px solid #333333;
          }
        }
      }
      .swiper-button-prev, .swiper-button-next {
        transform: rotate(90deg);
        left: 50%;
        margin: 0 0 0 -22px;
        top: -9px;
        &.swiper-button-next {
          top: auto;
          bottom: -9px;
        }
      }
    }
  }
  &.grid {
    .jx-products-slider {
      width: 50%;
      margin: 0;
      + .swiper-thumbnails {
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        .swiper-slide {
          width: calc(100% / 3);
          &.swiper-slide-active, &:hover {
            background: #666;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
  &.full-width {
    .jx-products-slider {
      + .swiper-thumbnails {
        .swiper-slide {
          background: #999;
          &.swiper-slide-active, &:hover {
            background: #666;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}