<div class="tab-pane fade{if !$product.description} active show{/if}"
     id="product-details"
     data-product="{$product.embedded_attributes|json_encode}"
     role="tabpanel"
>

  <a class="d-lg-none{if $product.description} collapsed{/if}" data-toggle="collapse" href="#product-details-collapse" role="button" {if !$product.description}aria-expanded="true" {else}aria-expanded="false"{/if}>{l s='Product Details' d='Shop.Theme.Catalog'}</a>
  <div id="product-details-collapse" class="collapse d-lg-block">
    <div class="product-top">
      {block name='product_quantities'}
        {if $product.show_quantities}
          <div class="product-quantities">
            <label class="label">{l s='In stock' d='Shop.Theme.Catalog'}</label>
            <span>{$product.quantity} {$product.quantity_label}</span>
          </div>
        {/if}
      {/block}

      {block name='product_manufacturer'}
        {if isset($product_manufacturer->id)}
          <div class="product-manufacturer">
            <label class="label">{l s='Brand' d='Shop.Theme.Catalog'}</label>
            <span>
              <a href="{$product_brand_url}">{$product_manufacturer->name}</a>
            </span>
          </div>
        {/if}
      {/block}

      {block name='product_reference'}
        {if isset($product.reference_to_display)}
          <div class="product-reference">
            <label class="label">{l s='Reference' d='Shop.Theme.Catalog'} </label>
            <span itemprop="sku">{$product.reference_to_display}</span>
          </div>
        {/if}
      {/block}

      {block name='product_condition'}
        {if $product.condition}
          <div class="product-condition">
            <label class="label">{l s='Condition' d='Shop.Theme.Catalog'} </label>
            <link itemprop="itemCondition" href="{$product.condition.schema_url}"/>
            <span>{$product.condition.label}</span>
          </div>
        {/if}
      {/block}
    </div>

    {block name='product_availability_date'}
      {if $product.availability_date}
        <div class="product-availability-date">
          <label>{l s='Availability date:' d='Shop.Theme.Catalog'} </label>
          <span>{$product.availability_date}</span>
        </div>
      {/if}
    {/block}

    {block name='product_out_of_stock'}
      <div class="product-out-of-stock">
        {hook h='actionProductOutOfStock' product=$product}
      </div>
    {/block}

    {block name='product_features'}
      {if $product.grouped_features}
        <section class="product-features">
          <dl class="data-sheet">
            {foreach from=$product.grouped_features item=feature}
                <dt class="name">{$feature.name}</dt>
                <dd class="value">{$feature.value|escape:'htmlall'|nl2br nofilter}</dd>
            {/foreach}
          </dl>
        </section>
      {/if}
    {/block}

    {* if product have specific references, a table will be added to product details section *}
    {block name='product_specific_references'}
      {if isset($product.specific_references)}
        <section class="product-features">
          <h3 class="h6">{l s='Specific References' d='Shop.Theme.Catalog'}</h3>
          <dl class="data-sheet">
            {foreach from=$product.specific_references item=reference key=key}
              <dt class="name">{$key}</dt>
              <dd class="value">{$reference}</dd>
            {/foreach}
          </dl>
        </section>
      {/if}
    {/block}
  </div>
</div>
