.category-block.swiper-container {
  margin-bottom: 30px;
  .swiper-wrapper {
    box-sizing: border-box;
  }
  &.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
  }
  .product-miniature {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    margin: 0;
    .thumbnail-container {
      width: auto;
    }
  }
}
