.category-block.swiper-container {
  margin-bottom: 30px;
}

.category-block.swiper-container .swiper-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.category-block.swiper-container.swiper-container-horizontal > .swiper-pagination-bullets,
.category-block.swiper-container .swiper-pagination-custom,
.category-block.swiper-container .swiper-pagination-fraction {
  bottom: 0;
}

.category-block.swiper-container .product-miniature {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  margin: 0;
}

.category-block.swiper-container .product-miniature .thumbnail-container {
  width: auto;
}