/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

@media (min-width: 768px) {
  #header .header-nav {
    padding: 0
  }
}
 #header .header-nav {
    padding: 0;
 }
 .shopping-cart .section-title {
     text-transform: uppercase;
 }
 .cart-summary h4 {
     text-transform: uppercase;
 }
 dl, ol, ul {list-style: none; margin: 0; padding: 0;}
 .radius-0 {border-radius: .25rem}
 .form-update-info {max-width: auto;}
 .address-selector {margin: 0px;  border: 1px dashed #ccc; border-radius:.25rem}
 
 .checkout-step .step-title {font-size: 1rem; font-weight: bold;}
 .checkout-step h4, .checkout-step .h4 {font-size: 1rem;}
 .cart-box {border-radius:.25rem}
 .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {     
    background-color: #034694;
    border-color: #034694;
}
.btn-blue {background-color: #034694; border-color: #034694}
.order-confirmation-table img {max-width: 100px;}
.pt-40 {padding-top: 40px;}
.order-confirmation-table {margin-top: 10px;}
.page-order-confirmation h3 {margin-top: 10px; margin-bottom: 0px; text-transform: uppercase; font-size: 1.2rem;}
.checkout-step {display: none}
.tab-content>.checkout-step.show {display: block}
.price .normal-price {font-size: 15px;} 
.checkout-step .js-address-form .form-fields {}
.text-uppercase {text-transform: uppercase}
.account-form-wrapper {padding: 30px 20px; border-radius: 2px; background: #fff; margin-bottom: 40px;}
.account-form-wrapper .panel-information {width:50%;}
.account-form-wrapper.add-address {text-align: center; margin-bottom: 20px; border: 1px dashed #d8d8d8}
.my-account-links .ma-link-item a {padding: 10px 0px 10px 20px; position: relative; display: block}
.my-account-links .ma-link-item a i.fa-2x {font-size: 1.2em;}
.my-account-links .ma-link-item.active a {background: #ececec}
.address-header h4 {font-size: 18px; font-weight: bold;}
.account-form-address .form-fields{width: 50%;}
.form-login-center {width: 400px; margin: 0 auto}

.cms-st-nav { font-size: 14px;list-style: none;}
.cms-st-nav ul {padding: 20px; background: #fff;}
.cms-st-nav li a { line-height: 1.3rem}
.cms-st-nav li.active a { color: #A30134 }

#banner-ads-home { 
  max-width: 800px;
  margin: 150px auto 0 auto;
  padding: 0!important;
}
#banner-ads-home .modal-dialog { margin: 0; } 
#banner-ads-home .close { display: none; }
#banner-ads-home a#fvpp-close { 
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 1;
  z-index: 3;
  cursor: pointer;
}
#banner-ads-home a#fvpp-close:before {
  content: '';
  background: url("../img/sprites-s26613bf752.png") no-repeat;
  overflow: hidden;
  background-size: 64px 902.5px;
  background-position: 0 -826px;
  height: 35px;
  width: 35px;
  display: block;
} 
.block-promo .alert {padding: 0; border: none;}
@media screen and (max-width: 375px) {
  
}

/* Milestone */
.milestone-line {
    position: relative; }
  
  .milestone-dot {
    position: absolute;
    top: 0;
    left: -50%;
    display: block;
    width: 10px;
    height: 10px;
    margin-left: -6px;
    margin-top: 6px;
    margin-bottom: 6px;
    background: #A30134;
    border-radius: 50%;
    z-index: 1; }
    .milestone-dot.end {
      bottom: 0;
      top: auto !important; }
    .milestone-dot.animate {
      transition: top 1s ease; }
  
  .table--milestone-item {
    color: black;
    position: relative; }
    .table--milestone-item .year {
      color: #0058a0;
      text-align: left;
      line-height: 1; 
      text-transform: uppercase;
      font-size: 18px;
    }
    .table--milestone-item .milestone-line {
      position: relative;
      padding: 0 0.9375em;
      width: 60px;
      color: #0058a0; }
      .table--milestone-item .milestone-line .line {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1px;
        border-left: 2px solid;
        height: 100%;
        display: block;
        color: transparent; }
      .table--milestone-item .milestone-line .circle {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -12px;
        display: block;
        width: 22px;
        height: 22px;
        background: #fff;
        border: 2px solid #0058a0;
        border-radius: 50%;
        transition: 0.1s top ease;
        z-index: 1; }
      .table--milestone-item .milestone-line .last {
        content: '';
        top: auto;
        bottom: 0;
        display: none; }
    .table--milestone-item .milestone-img {
      width: 100%;
      display: block; }
    .table--milestone-item .milestone-img-wrap {
      padding-right: 0; }
    .table--milestone-item .list-info li {
      margin-top: 1.25em; }
    .table--milestone-item .list-info li:first-child {
      margin-top: 0; }
    .table--milestone-item .milestone-content {
      padding-bottom: 1.875em; }
  
  .block--milestone {
    position: relative;
    padding-bottom: 1.875em; }
    .block--milestone:before {
      content: '';
      position: absolute;
      top: 0;
      left: -41px;
      display: block;
      width: 22px;
      height: 22px;
      background: #fff;
      border: 2px solid #0066b3;
      border-radius: 50%;
      transition: 0.1s top ease; }
    .block--milestone.first:before {
      display: none; }
    .block--milestone.first .year {
      margin-top: 0; }
  
  .table--row {
    display: table; }
    .table--row .table--cell {
      display: table-cell; }
  
  .milestone-content {
    position: relative; }
    .milestone-content:before {
      content: '';
      display: block;
      width: 2px;
      position: absolute;
      top: 0;
      left: -30px;
      margin-left: -1px;
      height: 100%;
      background: #0066b3;
      z-index: 0; }
    .milestone-content:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -29px;
      margin-left: -12px;
      display: block;
      width: 22px;
      height: 22px;
      background: #fff;
      border: 2px solid #0066b3;
      border-radius: 50%;
      transition: 0.1s top ease; }
  
  .lt-ie9 .table--milestone-item .year {
    margin-top: 0; }
@media screen and (max-width: 480px) {
    .slide-product-small .item {padding: 0 1px !important;}
    .slide-product-small .tile-product {padding: 0px !important;}
    .header-table-gold {margin-top: 20px;}
    .header-table-gold .info {margin-bottom: 20px;}
}

.page-cms {padding-bottom: 40px;}

.vertical-stores-title {
  font-size: 18px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  background-color: #5e5e5e;
  font-weight: normal;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.more-stores-title {
  text-transform: uppercase;
  font-size: 18px;
}

.store-addresses > li {
  padding: 15px 0px;
  border-bottom: 1px dashed #333;
}
.store-addresses address {margin-bottom: 5px;}
.page-stores .brand-stores {
  min-height: 100px;
  overflow: hidden;
  max-height: 130px;
  border-bottom: 1px dashed #333;
}
.store-addresses .card-note {padding-top: 5px;}

.page-stores .brand-stores .more-stores-title {padding-top: 10px;}

.cms-st-nav .col-md-3 ul li {
  position: relative;
  padding-left: 15px;
  color: #c4e0fb;
  line-height: 22px;
} 


.cms-st-nav ul li{
  text-transform: inherit;
  height: auto;
  color: #333;
  display: block;
  transition: all 0.2s ease-out;
  border-bottom: 1px solid #ededed;
  position: relative;
}
.cms-st-nav ul li a:hover, .cms-st-nav ul li a:focus {
  padding-left: 15px;
  color: #0058a0;
  background-color: unset;
  transition: all 0.2s ease-out;
}

.cms-st-nav ul > li:hover > a::after
{
  position: absolute;
  top: 10px;
  left: 0;
  margin-right: 10px;
  content: '\f105';
  font-family: 'FontAwesome';
}
.cms-st-nav ul li a {
  color: #000;display: block;padding: 10px 0; 
}
.cms-st-nav .d-sm-block, .d-mobile-block {
  text-transform: uppercase;
  background: #023876;
  color: #fff;
  padding: 7px 20px;
  margin-bottom: 0;
} 

.header-login-footer {
  text-align: left;
}
.page-order-confirmation {padding-bottom: 40px;}
.page-order-confirmation .card-block {
  border: 1px solid  #e4e4e4;
  background: #fff;
  padding: 20px 30px;
}

.headline-my-account {text-transform: uppercase; font-size: 1.5rem; margin-bottom: 30px;}
#footer-connect-fb {
  bottom: 0;
  position: fixed;
  background: #023876;
  color: #fff;
  right: 0;
}
.toolbox {
  bottom: 45%;
  display: none;
  margin-left: -550px;
  position: fixed;
  right: 47px;
}
@media (max-width: 1599px) {
  .toolbox {
    right: 20px;
  }
}
.toolbox ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 30px;
}
.toolbox ul li {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}
.toolbox ul li a {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: #333;
  display: block;
  height: 100%;
  position: relative;
  text-align: center;
}
.toolbox ul li a:before {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}
.toolbox ul li a:hover {
  background-color: #A30134;
}
.toolbox ul li i {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}
.toolbox ul li.email i {
  font-size: 16px;
}
@media (min-width: 1200px) {
  .toolbox {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .checkout-step .js-address-form .form-fields{
    width: 100%;
  }
  .cms-st-nav {margin-bottom: 40px;}
  .header-top { font-size: 14px; }
  .container { 
    width: 90%;margin: 0 auto;padding-left: 0;padding-right: 0;
  }
  .banner-3 .whisper-head h3 { line-height: 2.4rem; }

  .slidebar-product-sale article.product-miniature {
    width: 50%;float: left;
  }
  .slidebar-product-sale article.product-miniature .tile-product {
    padding: 5px;
  }
  .slidebar-product-sale article.product-miniature [class*="col-"] {
    padding-left: 10px;
    padding-right: 0px;
  }
  .slidebar-product-sale article.product-miniature:nth-child(even) [class*="col-"] {
    padding-left: 0px;
    padding-right: 10px;
  }

  .list-product .arrange-price ul { width: 100%;float: left;margin-top: 20px; }
  .list-product .arrange-price li { width: 50%;float: left;margin: 0;margin-bottom: 20px }
  .list-product .arrange-price li:first-child { text-align: left }
  .list-product .arrange-price li:last-child { text-align: right } 
  
  .category-box-sbj .row [class*="col-sm"] { width: 50%;float: left;margin: 0;padding: 5px; }
  .category-box-sbj .tile-product { padding: 5px; }
  .category-box-sbj .tile-product .text{ padding: 0px; }

  .list-product #js-product-list .tile-product { padding: 5px; }
  .list-product #js-product-list .tile-product .text{ padding: 0px; }
  .list-product #js-product-list .tile-product .btn-red{ width: 95%;margin: 0 auto; }
  .list-product #js-product-list > [class*="col-"] { width: 50%;float: left;margin: 0;padding: 5px; }
  .list-product .pagination li .page-link { font-size: 12px; }
  .list-product .pagging nav { float: left; }
  .list-product .pagging .view-all { float: right;font-size: 12px; }
} 

.category-news .space-global {margin-bottom: 0;}
.notification-success {text-align: center; border: 1px solid #ddd; padding: 5px;}
.notification-success ul {list-style: none}

.add-address { margin-top: -10px; }
.btn-add-address { color: #A30134;text-transform: capitalize;font-style: italic; }

#checkout-personal-information-step ul .nav-item:last-child .nav-link { font-size: 22px; }