.product-miniature {
  .thumbnails-rollover {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    img {
      transition: all 0.5s ease;
      opacity: 1;
      &.hover-image {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
    &.horizontal_slide {
      img {
        transform: translateX(0);
        &.hover-image {
          transform: translateX(100%);
        }
      }
    }
    &.vertical_slide {
      img {
        transform: translateY(0);
        &.hover-image {
          transform: translateY(100%);
        }
      }
    }
  }
  &:hover {
    .thumbnails-rollover {
      img {
        opacity: 0;
        &.hover-image {
          opacity: 1;
        }
      }
      &.horizontal_slide {
        img {
          transform: translateX(-100%);
          &.hover-image {
            transform: translateX(0);
          }
        }
      }
      &.vertical_slide {
        img {
          transform: translateY(-100%);
          &.hover-image {
            transform: translateY(0);
          }
        }
      }
    }
  }
  .thumbnails-carousel {
    position: relative;
    .carousel-control {
      top: auto;
      transition: bottom .3s;
      background: none;
      width: 32px;
      height: 32px;
      line-height: 32px;
      color: #333333;
    }
    .carousel-indicators {
      white-space: nowrap;
      bottom: 0;
      margin-bottom: 0;
      background: none;
      padding: 6px 3px;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
      transition: bottom .3s;
      width: 96px;
      margin-left: -48px;
      li {
        border-color: #333333;
        margin: 0 3px;
        opacity: 0.8;
        transition: transform 0.3s linear;
        width: 12px;
        height: 12px;
        background: #333333;
        &.active {
          opacity: 1;
          background: #000000;
        }
      }
    }
    &.gallery {
      .carousel-indicators {
        width: calc(100% - 64px);
        margin-left: calc((50% - 100%) + 32px);
        background: #333333;
        li {
          position: relative;
          display: inline-block;
          width: auto;
          height: auto;
          border: none;
          margin: 0;
          padding: 0;
          background: none;
          &.active {
            width: auto;
            height: auto;
          }
          img {
            margin: 0 3px !important;
            display: block;
            border: none;
            max-width: calc(100% - 6px);
          }
        }
      }
    }
  }
  &:hover {
    .thumbnails-carousel {
      .carousel-indicators, .carousel-control {
        bottom: 70px;
      }
    }
  }
}