/**************************************************************************
		        Style JX Wishlist
**************************************************************************/

#jxwishlist-link {
  padding: 14px;
}

@media (max-width: 1199px) {
  #jxwishlist-link span {
    display: none;
  }
}

#wishlist_button,
#wishlist_button_nopop,
.wishlist_button,
.wishlist_button_nopop {
  cursor: pointer;
}

#wishlist_button i,
#wishlist_button_nopop i,
.wishlist_button i,
.wishlist_button_nopop i {
  display: inline-block;
}

#wishlist_button i + i,
#wishlist_button_nopop i + i,
.wishlist_button i + i,
.wishlist_button_nopop i + i {
  display: none;
}

.added-to-wishlist #wishlist_button i,
.added-to-wishlist #wishlist_button_nopop i,
.added-to-wishlist .wishlist_button i,
.added-to-wishlist .wishlist_button_nopop i {
  display: none;
}

.added-to-wishlist #wishlist_button i + i,
.added-to-wishlist #wishlist_button_nopop i + i,
.added-to-wishlist .wishlist_button i + i,
.added-to-wishlist .wishlist_button_nopop i + i {
  display: inline-block;
}

.product-miniature .wishlist_button,
.product-miniature .wishlist_button_nopop {
  position: absolute;
  right: 0;
  top: 0;
}

.product-miniature .wishlist_button i,
.product-miniature .wishlist_button_nopop i {
  margin-top: -5px;
  font-size: 18px;
}

.product-miniature .wishlist_button span,
.product-miniature .wishlist_button_nopop span {
  display: none;
}

.popover {
  z-index: 9999;
}

.popover-item-wishlist {
  margin-bottom: 5px;
}

.popover-item-wishlist:hover {
  cursor: pointer;
  color: #ccc;
}

.all-wishlist > li {
  padding: 37px 22px 32px;
  background: #f6f6f6;
  margin-bottom: 30px;
}

.all-wishlist > li h3 {
  margin: 0;
  padding: 0 0 25px;
  border-bottom: 1px solid #cdcdcd;
  color: #1b1b1b;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

@media (max-width: 768px) {
  .all-wishlist > li h3 span {
    display: block;
    margin-bottom: 12px;
  }
}

.all-wishlist > li h3 .delete-wishlist,
.all-wishlist > li h3 .edit-wishlist {
  float: right;
  font-size: 18px;
  color: #353535;
  outline: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin: 1px 1px 0 0;
}

@media (max-width: 768px) {
  .all-wishlist > li h3 .delete-wishlist,
  .all-wishlist > li h3 .edit-wishlist {
    margin-bottom: 12px;
  }
}

.all-wishlist > li h3 .delete-wishlist:hover,
.all-wishlist > li h3 .edit-wishlist:hover {
  color: #777;
}

.all-wishlist > li h3 .edit-wishlist {
  margin: 2px 22px 0 0;
}

.all-wishlist > li .btn-view-wishlist {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  background: #fd7e01;
  border: none;
  padding: 10px 25px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  float: left;
  margin-right: 20px;
}

.all-wishlist > li .btn-view-wishlist:hover {
  background: #ec7806;
}

.all-wishlist > li #add-new-layout {
  float: right;
  border: 1px solid #d6d4d4;
  background: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #353535;
  padding: 0;
  outline: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media (max-width: 480px) {
  .all-wishlist > li #add-new-layout {
    float: left;
    margin: 30px 0;
    clear: left;
  }
}

.all-wishlist > li #add-new-layout span {
  display: inline-block;
  padding: 9px 17px;
}

.all-wishlist > li #add-new-layout:before {
  background-image: url(../img/8b05d51ede908907d65695558974d86f.svg);
  content: "";
  width: 40px;
  height: 40px;
  float: left;
  border-right: 1px solid #d6d4d4;
}

.all-wishlist > li #add-new-layout:hover {
  background: #fafafa;
}

.all-wishlist > li .btn-product-wishlist {
  float: right;
  color: #353535;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  margin: 12px 15px 0 0;
  outline: 0;
  cursor: pointer;
}

@media (max-width: 480px) {
  .all-wishlist > li .btn-product-wishlist {
    float: left;
    clear: left;
  }
}

.all-wishlist > li .btn-product-wishlist:hover,
.all-wishlist > li .btn-product-wishlist.active {
  color: #fd7e01;
}

.all-wishlist > li .wishlist-products-container {
  padding-bottom: 25px;
  border-bottom: 1px solid #cdcdcd;
  display: none;
}

.all-wishlist > li .wishlist-products-container ul li {
  padding-top: 25px;
}

.all-wishlist > li .wishlist-products-container ul li .product_image {
  margin-bottom: 20px;
  position: relative;
}

.all-wishlist > li .wishlist-products-container ul li .product_image .lnkdel {
  position: absolute;
  right: 10px;
  top: 10px;
}

.all-wishlist > li .wishlist-products-container ul li h5 {
  text-align: center;
}

.all-wishlist > li .wishlist-products-container ul li h5 a {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #1b1b1b;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.all-wishlist > li .wishlist-products-container ul li h5 a .quantity-formated {
  color: #333;
  display: inline-block;
  font-size: 10px;
  padding-right: 5px;
  text-transform: uppercase;
}

.all-wishlist > li .wishlist-products-container ul li h5 a .quantity-formated .quantity {
  font-size: 14px;
}

.all-wishlist > li .wishlist-products-container ul li h5 a:hover {
  color: #777;
}

.all-wishlist > li .wishlist-products-container ul li .content_price span {
  color: #333;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.all-wishlist > li .wishlist-products-container .alert.alert-warning {
  margin: 30px 0 0;
}

.all-wishlist > li .wishlist-row-bottom {
  margin-top: 25px;
}

.wishlist_content .product_image {
  border: 1px solid #d6d4d4;
  position: relative;
}

.wishlist_content .product_image .lnkdel {
  position: absolute;
  right: 10px;
  top: 10px;
}

.pop_btn_wishlist {
  float: right;
  margin-top: 20px;
}

/**************************************************************************
		        Style for popup with select layouts
**************************************************************************/

#wishlistModal .modal-header,
#wishlistAddedModal .modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#wishlistModal .modal-header .close,
#wishlistAddedModal .modal-header .close {
  padding: 15px;
  margin: -15px -15px -15px auto;
}

#wishlistModal .modal-header:after,
#wishlistAddedModal .modal-header:after {
  display: none;
}

#wishlistModal .jxwl-title > span,
#wishlistAddedModal .jxwl-title > span {
  color: #1b1b1b;
  font-weight: bold;
  font-size: 30px;
  line-height: 33px;
  text-transform: uppercase;
}

#wishlistModal .jxwl-title > span span,
#wishlistAddedModal .jxwl-title > span span {
  color: #333;
  font-weight: bold;
  font-size: 15px;
  line-height: 33px;
  text-transform: none;
  display: inline-block;
  margin-left: 20px;
}

#wishlistModal .modal-dialog {
  max-width: 1020px;
}

#wishlistModal #jxwl-layouts-popup .jxwl_popup_item {
  position: relative;
}

#wishlistModal #jxwl-layouts-popup .jxwl_popup_item .popup_store_logo {
  position: absolute;
  left: 54%;
  top: 7%;
  width: 140px;
}

#wishlistModal #jxwl-layouts-popup .jxwl_popup_item .popup_store_logo img {
  max-width: 100%;
  height: auto;
}

#wishlistModal #jxwl-layouts-popup .jxwl_popup_item h5 {
  color: #1b1b1b;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  left: 53%;
  top: 40%;
}

#wishlistModal #jxwl-layouts-popup .jxwl_popup_item.jxwl_row_1,
#wishlistModal #jxwl-layouts-popup .jxwl_popup_item.jxwl_row_2 {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  #wishlistModal #jxwl-layouts-popup .jxwl_popup_item.jxwl_row_3 {
    margin-bottom: 30px;
  }
}

#wishlistModal #jxwl-layouts-popup .jxwl_popup_item.jxwl_row_1 .popup_store_logo {
  right: 22%;
}

#wishlistModal #jxwl-layouts-popup .jxwl_popup_item.jxwl_row_2 h5 {
  left: 63%;
  top: 48%;
}

#wishlistModal #jxwl-layouts-popup .jxwl_popup_item.jxwl_row_3 h5 {
  left: 7%;
  top: 12%;
}

#wishlistModal #jxwl-layouts-popup .jxwl_popup_item.jxwl_row_4 .popup_store_logo {
  right: inherit;
  left: 7%;
  top: inherit;
  bottom: 7%;
}

#wishlistModal #jxwl-layouts-popup .jxwl_popup_item.jxwl_row_4 h5 {
  left: 7%;
  top: 5%;
}

#wishlistModal #jxwl-layouts-popup .jxwl_popup_item > ul {
  min-height: 248px;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  cursor: pointer;
  border: 1px solid #f6f6f6;
}

#wishlistModal #jxwl-layouts-popup .jxwl_popup_item > ul:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 7px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 7px;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item {
  width: 100%;
  padding: 0;
  margin-bottom: 30px;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item .popup_store_logo {
  display: none;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul {
  padding: 0;
  border: none;
  cursor: auto;
  background: none;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul:hover {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul.jxwl_row_4 {
  min-height: 182px;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul.jxwl_row_4 li {
  width: 20%;
  float: left;
  padding: 0 15px;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul.jxwl_row_4 li .content {
  height: 185px;
}

@media (max-width: 768px) {
  #wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul.jxwl_row_2 li:first-child {
    margin-bottom: 30px;
  }

  #wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul.jxwl_row_3 li {
    margin-bottom: 30px;
  }

  #wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul.jxwl_row_4 li {
    margin-bottom: 30px;
    width: 50%;
  }
}

@media (max-width: 1199px) {
  #wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul.jxwl_row_3 li {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  #wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul.jxwl_row_4 li {
    width: 100%;
  }
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul li {
  border: none;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul li .content {
  background: #f6f6f6;
  border: 1px solid #f6f6f6;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  height: 255px;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul li .content:before {
  content: "\f0fe";
  font: 400 35px/45px "FontAwesome";
  display: inline-block;
  width: 45px;
  height: 45px;
  background: #fd7e01;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -22px;
  margin-left: -22px;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul li .content img {
  width: 257px;
  margin: 0 auto;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul li .content .clear-item {
  color: #cccccc;
  position: absolute;
  right: 7px;
  top: 7px;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  z-index: 3;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul li .content .clear-item:hover {
  color: #333;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul li .content:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 7px;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul li .content.current {
  background: #fff;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul li .content.current .jxwl-content-image img {
  max-width: 100%;
  height: auto;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .jxwl_popup_item ul li .content.current:before {
  display: none;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .block-container-product {
  padding: 0 15px;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .block-container-product .product {
  float: left;
  padding: 6px;
  width: 155px;
  cursor: pointer;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .block-container-product .product.active {
  display: none;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .block-container-product .product:hover {
  -webkit-box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px;
  box-shadow: rgba(174, 193, 199, 0.3) 0 0 4px 1px;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .block-container-product .product img {
  max-width: 100%;
  height: auto;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .share_button {
  margin-right: 15px;
  float: right;
  border: 1px solid #d6d4d4;
  background: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #353535;
  padding: 0;
  outline: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .share_button span {
  display: inline-block;
  padding: 9px 17px;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .share_button:before {
  background-image: url(../img/8b05d51ede908907d65695558974d86f.svg);
  content: "";
  width: 40px;
  height: 40px;
  float: left;
  border-right: 1px solid #d6d4d4;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .share_button:hover {
  background: #fafafa;
}

#wishlistModal #jxwl-layouts-popup .block-container-row .back_button {
  margin-left: 15px;
}

#wishlistModal #jxwl-layouts-popup .block-container-row #back_button_step_2 {
  margin-top: 30px;
}

.jxwl_popup_item > .jxwl_row_1 {
  background: url(../img/jxwl_row_1.jpg) left top no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.jxwl_popup_item > .jxwl_row_2 {
  background: url(../img/jxwl_row_2.jpg) left top no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.jxwl_popup_item > .jxwl_row_3 {
  background: url(../img/jxwl_row_3.jpg) left top no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.jxwl_popup_item > .jxwl_row_4 {
  background: url(../img/jxwl_row_4.jpg) left top no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

#view_wishlist ul li .product_image {
  margin: 0 0 20px;
}

#view_wishlist ul li .product_container {
  text-align: center;
  padding-bottom: 30px;
}

#view_wishlist ul li .product_container h5 .quantity-formated {
  color: #333;
  display: inline-block;
  font-size: 10px;
  padding-right: 5px;
  text-transform: uppercase;
}

#view_wishlist ul li .product_container h5 .quantity-formated .quantity {
  font-size: 17px;
}

#view_wishlist ul li .product_container .content_price {
  color: #333;
  font-size: 21px;
  margin-bottom: 20px;
}