.compare-header {
  padding: 14px;
}

#compare-footer {
  bottom: 0;
  display: block;
  position: fixed;
  right: 0;
  table-layout: fixed;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 5010;
  transform: translateX(100%);
  transition: all 0.3s ease;
  .no-products {
    padding: 10px 10px 0;
    font-size: 12px;
  }
  &.visible-compare-footer {
    transform: translateX(0);
  }
  .compare-img {
    display: block;
    float: left;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .compare-footer-grover {
    position: absolute;
    left: -50px;
    bottom: -1px;
    height: 50px;
    width: 50px;
    z-index: 5010;
    border: 1px solid #ccc;
    border-right: 0;
    background: #fff;
    i {
      position: absolute;
      width: 100%;
      height: 100%;
      line-height: 50px;
      text-align: center;
    }
    .counter {
      font-size: 10px;
      line-height: 13px;
      width: 15px;
      height: 15px;
      border: 1px solid #ccc;
      display: block;
      text-align: center;
      border-radius: 100px;
      position: absolute;
      left: 2px;
      top: 2px;
    }
  }
  .buttons {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    a {
      margin-right: 20px;
      font-size: 12px;
      &:hover {
        color: #333333;
      }
    }
  }
  .compare-product-element {
    position: relative;
    float: left;
    a {
      position: absolute;
      right: 5px;
      top: 5px;
      &:hover {
        color: #333333;
      }
    }
  }
}

.product-miniature {
  .compare-button {
    position: absolute;
    left: 3px;
    top: 0;
    span {
      display: none;
    }
    &.selected {
      color: #000000;
    }
  }
}

.compare-page {
  .product-miniature {
    float: left;
  }
}

#modal-compare {
  text-align: center;
  &:not(.with-products) {
    #compare-products, #compare-features {
      display: none;
    }
  }
  .modal-dialog {
    text-align: center;
    max-width: 100%;
    display: inline-block;
    width: auto;
  }
  &.with-products .modal-content {
    border: none;
    .modal-content-compare {
      border-right: 1px solid #fcfcfc;
      padding-left: 20px;
      overflow-y: auto;
      background: #1a1a1a;
      #compare-products {
        background: white;
        display: flex;
        > div {
          min-width: 200px;
          max-width: 200px;
          text-align: center;
          background: white;
          border-left: 1px solid #fcfcfc;
          border-top: 1px solid #fcfcfc;
          &:first-child {
            background: none;
            border: none;
            transition: all .2s;
            transition-timing-function: cubic-bezier(0.2, 0, 0.065, 0.25);
            > div {
              min-width: 200px;
              transition: all .2s;
              transition-timing-function: cubic-bezier(0.2, 0, 0.065, 0.25);
            }
          }
          @media (max-width: 767px) {
            min-width: 150px;
            max-width: 150px;
            &:first-child {
              > div {
                min-width: 200px;
              }
            }
          }
        }
        &.close-titles > div:first-child {
          min-width: 0;
          max-width: 100%;
          > div {
            margin-left: -200px;
          }
        }
      }
      #compare-features {
        position: relative;
        text-transform: uppercase;
        font-size: 12px;
        color: #1a1a1a;
        .features-toggle {
          position: absolute;
          right: 100%;
          top: 0;
          bottom: 0;
          width: 20px;
          background: #1a1a1a;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          color: white;
          cursor: pointer;
          transition: all .2s;
          transition-timing-function: cubic-bezier(0.2, 0, 0.065, 0.25);
          &:hover {
            color: #666666;
          }
          span {
            letter-spacing: 0.8em;
            writing-mode: vertical-rl;
            text-orientation: upright;
          }
          i {
            font-size: 16px;
            transition: all 0.3s ease;
          }
        }
        .compare-features-title {
          transition: all .2s;
          transition-timing-function: cubic-bezier(0.2, 0, 0.065, 0.25);
        }
        &.close-titles {
          .features-toggle {
            color: #666666;
            i {
              transform: rotate(180deg);
            }
            &:hover {
              color: white;
            }
          }
          .compare-features-row .compare-features-title {
            margin-left: -200px;
            color: #f6f6f6;
            @media (max-width: 767px) {
              margin-left: -150px;
            }
          }
        }
        .compare-features-row {
          display: flex;
          &:nth-child(even) .compare-features-item {
            background: #f6f6f6;
          }
          &:nth-child(odd) .compare-features-item {
            background: white;
          }
          &:last-child {
            > div:not(:first-child) {
              border-bottom: 1px solid #fcfcfc;
            }
          }
          > div {
            min-width: 200px;
            max-width: 200px;
            padding: 17px 10px 14px;
            text-align: center;
            border-left: 1px solid #fcfcfc;
            &:first-child {
              text-align: left;
              background: #f6f6f6;
              border: none;
              font-weight: bold;
              padding-left: 30px;
            }
            @media (max-width: 767px) {
              min-width: 150px;
              max-width: 150px;
              padding: 9px 5px 8px;
              &:first-child {
                padding-left: 15px;
              }
            }
          }
        }
      }
    }
  }
}